<%- include('../partials/head.ejs'); %>

<%- include('../partials/header.ejs'); %>

<main>

<section class="contenedorMenuAdmin">
<section class="menuAdmin">
    <h1 style="text-align: center;">MENU ADMIN</h1>
    <button class="claseButton"><a href="/productos/listadoProductosAdmin">LISTADO PRODUCTOS</a></button>
    <button class="claseButton"><a href="/productores/listado">LISTADO PRODUCTORES</a></button>
    <button class="claseButton"><a href="/productos/listadoCategorias">LISTADO CATEGORIAS</a></button>
    <button class="claseButton"><a href="/admin/ventas">LISTADO COMPRAS</a></button>
</section>
</section>
<div id="menuAdmin">
    <form action="/usuarios/logout" method="POST">
        <button  class="claseButton" type="submit">CERRAR SESION</button>
    </form>
    </div>

</main>

<%- include('../partials/footer.ejs'); %>