
.contenedor{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#headCarrito h1{
    text-align: center;
    font-size: 35px;
    font-weight: 700;

    
}
#headCarrito img{
    width: 100%;
}

.informacionProducto .botonResta, .informacionProducto .botonSuma{
   width: 25px;
    min-width: 20px;
    border-radius: 5px;
    margin: 0px;
   
    
}
.informacionProducto .inputCantidad{
    width: 40px;
    margin: 0px;
    padding: 0px;
}

.contenedorCarrito{
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1366px;
    margin-top: 30px;
}
.productoCarrito{
    display: flex;
    width: 100%;
    border: 1px grey solid;
    background-color: white;
    margin: 1vh 0;
}
.imagenCarrito{
display: block;
width: 10%;
height: auto;
}
.imagenCarrito img{
    width: 100%;
    max-width: 75px;
}

#sumaRestaCarritoCompra{
    width: 120px;
}
#sumaRestaCarritoCompra input{
    text-align: center;
}

#precioProductoCarrito, #precioSubtotalCarrito{
   display: flex;
   justify-content:center;
}

#precioProductoCarrito p, #precioSubtotalCarrito p{
    width: 80px;
}




.informacionProducto{
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;

}

.informacionProducto p{
    width: 18%;
    text-align: center;
    max-height: inherit;
    padding: 0;
    margin: 0;
    word-wrap: break-word;
}

.informacionProducto button{
    width: 18%;
    max-width: 150px;
    margin: 0 1vw 0 0;
}

.informacionProducto div{
    display: flex;
    justify-content: space-around;
    width: 18%;
}

.informacionProducto div button{
max-width: 30px;
}   

.pagoTotal{
display: flex;
justify-content: flex-end;
width: 100%;
max-width: 1500px;
}

.pagoTotal h2{
margin: 1vh 0;
padding: 0;
font-size: 1.2rem;
}

.carritoBotones{
    width: 60%;
    justify-content: space-around;
    display: flex;
    margin: 1vh 0;
}

.carritoBotones button{
    width: 40%;
}

.botonQuitarProducto{
    background-color:#612F23;
    color: white;
    font-size: 14px;
    padding: 3px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.botonQuitarProducto1{
    display: none;
}

#totalCarrito{
    margin-top: 30px;
    margin-bottom: 30px;
}

.carritoBotones{
    margin-bottom: 30px;
}

@media only screen and (max-width: 480px){
    .imagenCarrito{
        width: 20%;
    }
    .informacionProducto{
        flex-wrap: wrap;
        width: 80%;
    }
    /* .informacionProducto p:nth-child(2){
        display: none;
    } */
    
    .informacionProducto p{
    width: 50%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 0.8rem;
    }

    .informacionProducto div{
        width: 50%;
        margin-top: 1vh;
        margin-bottom: 1vh;
        font-size: 0.8rem;
    }

    .informacionProducto div button{
    max-width: 20px;
    max-height: 20px;
    text-align: center;
    padding: 1px 0;
    }

    .carritoBotones{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .carritoBotones button{
        width: 70%;
    }

}

@media(max-width:768px){

    #headCarrito h1 {
        text-align: center;
        font-size: 25px;
        font-weight: 700;
        margin: 0px;
    }

    .contenedorCarrito {
        margin-top: 0px;
    }

    .imagenCarrito {
     
        align-self: center;
        margin-left: 10px;
        width: 35%;
    }

    .imagenCarrito img {
        width: 100%;
        max-width: 100px;
    }


    .informacionProducto p{
        width: 100%;
        font-weight: 700;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .informacionProducto #textCantidad{
        display: none;
    }

    #sumaRestaCarrito{
        margin-bottom: 0px;
    }

    .contenedorCarrito {
        /* display: flex; */
        width: 95%;
    }

    #precioProductoCarrito, #precioSubtotalCarrito {
        
        width: 100%;
    }

    .botonQuitarProducto{
        display: none;
    }

    .botonQuitarProducto1{
        display: block;
        font-size: 14px;
        text-align: center;
        margin-bottom: 10px;

    }

    .carritoBotones button {
        width: 100%;
        margin-bottom: 10px;
    }
}