.contenedorCarrito{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 ;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.separador{
    display: flex;
    width: 70%;
    border: 1px black solid;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
}

.productoCarrito{
    display: flex;
    position: relative;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    margin: 2vh 0;
    font-size: 0.6rem;
    flex-wrap: wrap;
    max-height: 70px;
    justify-content: space-between;
    width: 100%;

}

.productoCarrito img{
width: 20%;
border-right: black 1px solid;
max-height: 70px;
max-width: 70px;
}

.abajoIzquierda{
    position: absolute;
    left: 22%;
    top: 60%;
    max-width: 110px;
}


.abajoIzquierda button{
    border: none;
    font-size: 0.8rem;
    text-decoration: none;
    color: black;
    background-color: transparent;
}

.abajoIzquierda input{
    width: 5%;
    font-size: 0.8rem;
    border: none;
}

.abajoDerecha{
    position: absolute;
    right: 2%;
    top: 65%;
    margin-right: 1vh;
}


.arribaIzquierda{
    position: absolute;
    left: 22%;
    bottom: 60%;
}

.arribaDerecha{
position: absolute;
right: 2%;
bottom: 60%;
margin-right: 1vh;
}

.contenedorCarrito h2{
    font-size: 0.9rem;

}

.costoParcial{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 1vw;
    margin-right: 1vw;
}

.costoTotal{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-right: 1vw;
}

.contenedorBotones{
width: 100%;
margin-top: 2vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.contenedorBotones button{
    border: solid 1px black;
    width: 40%;
    font-size: small;
    border-radius: 2px;
    text-decoration: none;
    color: black;
    margin-bottom: 1vh;
    background-color: transparent;

}

@media only screen and (min-width: 460px){
    .arribaIzquierda{
        left: 16%;
    }

    .abajoIzquierda{
        left: 16%;
    }

}

@media only screen and (min-width: 550px){
    .arribaIzquierda{
        left: 13%;
    }

    .abajoIzquierda{
        left: 13%;
    }

}

@media only screen and (min-width: 768px){

.productoCarrito{
    max-height: 100px;
    align-items: center;
    width: 100%;
}


.abajoIzquierda{
    position: relative;
    left: 0%;
    top: 0%;
}

.abajoDerecha{
    position: relative;
    right: 0%;
    top: 0%;
}


.arribaIzquierda{
    position: relative;
    left: 0%;
}

.arribaDerecha{
position: relative;
right: 0%;
}

.productoCarrito img{
    width: 20%;
    max-width: 100px;
    max-height: 100px;
}

.contenidoCarrito{
    display: flex;
    width: 85%;
    align-items: center;
    margin-right: 2vh;
    position: relative;
    justify-content: space-between;
}

.contenedorBotones{
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.botonesCarrito{
    width: 40%;
    text-align: center;
    background-color: red;
}
}

@media only screen and (min-width: 1000px){
.productoCarrito{
    width: 90%;
    border: 1px black solid;
    font-size: 1rem;
    max-width: 1300px;
}

.abajoIzquierda{
    position: relative;
    max-width: 180px;
    bottom: 2.5px;
}

.abajoIzquierda button{
    font-size: 1.5rem;
}

.abajoIzquierda input{
    font-size: 1rem;
}

.costoParcial h2, .costoTotal h2{
    font-size: 1rem;
}

.contenedorBotones button{
    font-size: 1rem;
}


}