.contenedor{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenedorCarrito{
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
}
.productoCarrito{
    display: flex;
    width: 100%;
    border: 1px black solid;
    background-color: white;
    margin: 1vh 0;
}
.imagenCarrito{
display: block;
width: 10%;
height: auto;
}
.imagenCarrito img{
    width: 100%;
    max-width: 100px;
}

.informacionProducto{
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: center;

}

.informacionProducto p{
    width: 18%;
    text-align: center;
    max-height: inherit;
    padding: 0;
    margin: 0;
    word-wrap: break-word;
}

.informacionProducto button{
    width: 18%;
    max-width: 150px;
    margin: 0 1vw 0 0;
}

.informacionProducto div{
    display: flex;
    justify-content: space-around;
    width: 18%;
}

.informacionProducto div button{
max-width: 30px;
}   

.pagoTotal{
display: flex;
justify-content: flex-end;
width: 100%;
max-width: 1500px;
}

.pagoTotal h2{
margin: 1vh 0;
padding: 0;
font-size: 1.2rem;
}

.carritoBotones{
    width: 60%;
    justify-content: space-around;
    display: flex;
    margin: 1vh 0;
}

.carritoBotones button{
    width: 40%;
}

.botonQuitarProducto{
    background-color: rgb(255, 103, 103);
    color: black;;
    font-size: 14px;
    padding: 3px;
    margin-right: 10px;
    cursor: pointer;
}

@media only screen and (max-width: 480px){
    .imagenCarrito{
        width: 20%;
    }
    .informacionProducto{
        flex-wrap: wrap;
        width: 80%;
    }
    .informacionProducto p:nth-child(2){
        display: none;
    }
    
    .informacionProducto p{
    width: 50%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 0.8rem;
    }

    .informacionProducto div{
        width: 50%;
        margin-top: 1vh;
        margin-bottom: 1vh;
        font-size: 0.8rem;
    }

    .informacionProducto div button{
    max-width: 20px;
    max-height: 20px;
    text-align: center;
    padding: 1px 0;
    }

    .carritoBotones{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .carritoBotones button{
        width: 70%;
    }

}