footer {
 
  position: absolute;
  bottom: 0;
 width: 100%;
}

#listaIconosSociales{
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 0px ;

}
  
footer   ul{
  padding: 0px;
  margin: 16px 0px;
}
  
footer h3 {
  margin: 0px;
}
  
#iconoFacebook a i{
  color:white /*#4267B2;*/
    
}
  
#iconoInstagram a i{
  color:white; /* #C13584;*/
}
  
#iconoTwitter a i{
  color:white; /* #1DA1F2;*/
}
  
#iconoFacebook, #iconoInstagram, #iconoTwitter {
  margin-top: 20px;
  padding: 10px;
  font-size: 12px;
}

#copyright p{
  text-align: center;
  font-size: 12px;
  color: white;
  background-color: #4a602c;
  padding: 5px 0px 5px 0px;
  margin: 0px;
}

.listaFooter li:nth-child(1) {

  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;

}

.listaFooter li{
  list-style: none;
}


#contenedorListasFooter{
    
  display: flex;
  flex-direction: column;
  background-color:#737831 ;
  color: white;
  margin-bottom: 0px;
    
}
  
    
#listaMediosPago{
 
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  background-color:  #558C03;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top: 0px;
  padding-bottom: 20px;

}

#listaMediosPago p{
  color: white;
  font-size: 18px;
}

.btn-whatsapp {
  display:block;
  width:70px;
  height:70px;
  color: #fff;
  position: fixed;
  right:30px;
  bottom:30px;
  border-radius:50%;
  line-height:80px;
  text-align:center;
  z-index:999;
}



@media (min-width: 480px){


}
  
@media (min-width: 768px) {
  #contenedorListasFooter{
    
    flex-direction: row;
    justify-content: space-around;

  }

  #listaMediosPago{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 

  }

  #listaMediosPago .iconoMedioPago img{
    content: url("/images/banner-mercadopago.jpg");
  }
} 


@media (min-width: 992px) { 

}

@media(max-width: 768px){
  #listaMediosPago .iconoMedioPago img{
    content: url("/images/logo-mercadopago.jpg");
  }
}

@media(max-width: 768px){
#contenedorListasFooter{
  align-items: center;

}
#contenedorListasFooter ul li{
  text-align: center;
  
}
footer ul{
  margin: 10px 0px 7px 0px;
}
#iconoFacebook, #iconoInstagram, #iconoTwitter{
  margin-top: 5px;;
}

}