
#listaIconosSociales{
  display: flex;
  justify-content: center;
  list-style: none;
  margin-bottom: 0px ;

}
  
footer   ul{
  padding: 0px;
  margin: 16px 0px;
}
  
footer h3 {
  margin: 0px;
}
  
#iconoFacebook a i{
  color:#4267B2;
    
}
  
#iconoInstagram a i{
  color: #C13584;
}
  
#iconoTwitter a i{
  color: #1DA1F2;
}
  
#iconoFacebook, #iconoInstagram, #iconoTwitter {
  padding: 20px;
}

#copyright{
  text-align: center;
  font-size: 12px;
}

.listaFooter li:nth-child(1) {

  font-weight: bold;
  list-style: none;
  margin-bottom: 10px;

}
  

#contenedorListasFooter{
    
  display: flex;
  flex-direction: column;
  align-items: center;
    
}
  
    
#listaMediosPago{
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;

}

@media (min-width: 480px){


}
  
@media (min-width: 768px) {
  #contenedorListasFooter{
    
    flex-direction: row;
    justify-content: space-around;

  }

  #listaMediosPago{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 

  }

  #listaMediosPago .iconoMedioPago img{
    content: url("/images/banner-mercadopago.jpg");
  }
} 


@media (min-width: 992px) { 

}

@media(max-width: 767px){
  #listaMediosPago .iconoMedioPago img{
    content: url("/images/logo-mercadopago.jpg");
  }
}
