/*@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

/* 
html {
  min-height: 100%;
  position: relative;
} */

body{
    box-sizing: border-box;
    color: #4f4f4f;
    font-family: 'Ubuntu';
    padding: 0;
    margin: 0;
  }

button{
  cursor: pointer;
}
  .claseButton{
    border: none;
    font-size: 1rem;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    background-color:#612F23;
    padding: 5px 5px;
    min-width: 150px;
  }

  .claseButton:hover{
    background-color:#AD5B47;
    box-shadow: 0px 0px 10px 0px grey;
  }
  
  .claseButton a{
    color: white;
    text-decoration: none;
  }

  .errorMessageForm{
   
    color:#E15C5C;
    font-weight: bold; 
   
    font-size: 0.9rem;
    margin: 0px;
    /*position: absolute;*/
  }

  .errorMessageForm p{
    margin: 0px;
  }

a {
  cursor: pointer;
}

select{
  border: 1px solid #c1b017
}



 .thumbnailImage{
   width: 200px;
   height: auto;
   margin: 20px;
 }

 /*Chrome*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
/*Firefox:*/
input[type="number"] {
-moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
-moz-appearance: number-input;
}
/*Other*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

@media(max-width: 768px){
  h2{
    font-size: 1.5rem;
  }
}

  /*
  Paleta de Colores 
  .paleta { color: #558C03; }
  .paleta { color: #365902; }
  .paleta { color: #BFB304; }
  .paleta { color: #F2E2C4; }
  .paleta { color: #BF9D73; }
  */