/*@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');


body{
    box-sizing: border-box;
    color: #4f4f4f;
    font-family: 'Roboto';
    background-color:  RGB(242, 226, 196, 0.2);
    padding: 0;
    margin: 0;
  }

  .claseButton{
    border: none;
    font-size: 1rem;
    border-radius: 2px;
    width: 70%;
    text-decoration: none;
    color: white;
    margin-bottom: 1vh;
    background-color: green;
    padding: 5px 0;
    /*min-width: 51px;*/
  }

  .claseButton:hover{
    background-color: darkgreen;
    box-shadow: 0px 0px 10px 0px grey;
  }
  
  .claseButton a{
    color: white;
    text-decoration: none;
  }
 
  
  
  /* Color Theme Swatches in Hex 
  .paleta { color: #558C03; }
  .paleta { color: #365902; }
  .paleta { color: #BFB304; }
  .paleta { color: #F2E2C4; }
  .paleta { color: #BF9D73; }
  */