/*@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');


body{
    box-sizing: border-box;
    color: #4f4f4f;
    font-family: 'Roboto';
    background-color:  RGB(242, 226, 196, 0.2);
    padding: 0;
    margin: 0;
  }

button{
  cursor: pointer;
}
  .claseButton{
    border: none;
    font-size: 1rem;
    border-radius: 2px;
    text-decoration: none;
    color: white;
    background-color: green;
    padding: 5px 5px;
    /*min-width: 51px;*/
  }

  .claseButton:hover{
    background-color: darkgreen;
    box-shadow: 0px 0px 10px 0px grey;
  }
  
  .claseButton a{
    color: white;
    text-decoration: none;
  }

  .errorMessageForm{
    background-color: #ffcccb;
    font-weight: bold; 
    margin: 1vh; 
    font-size: 0.9rem;
    padding: 0px 5px 5px 5px ;
    margin: 0px;
  }




  
 .thumbnailImage{
   width: 200px;
   height: auto;
   margin: 20px;
 }

 /*Chrome*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}
/*Firefox:*/
input[type="number"] {
-moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
-moz-appearance: number-input;
}
/*Other*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}


  /*
  Paleta de Colores 
  .paleta { color: #558C03; }
  .paleta { color: #365902; }
  .paleta { color: #BFB304; }
  .paleta { color: #F2E2C4; }
  .paleta { color: #BF9D73; }
  */