header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #558C03;
}

#contenedorHeader{
    width: 1200px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    

}

#contenedorHeader img{
    width: 300px;
    height: auto;
    
}

#contenedorIconosHeader{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;

}

#contenedorIconosHeader p{

    font-size: 0.8rem;
    text-align: center;

}

#contenedorHeader #contenedorBusqueda{
    width: 50%;
    position: relative;

}

#contenedorHeader input{

    width: 100%;
    font-size: 1.2rem;
    height: 40px;
    border-radius: 5px;
    border: 0px;
    
}

#iconoBusqueda{
    position: absolute;
    left: 94%;
    top: 6px;
    color: lightslategrey;
}

nav{
    display: flex;
    justify-content: center;
    width: 1200px;
    margin: auto;
    border-top-style:solid; 
    border-top-width: 1px;
    border-top-color: white;

}
nav ul{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;

}

nav ul li{
    text-align: center;
    border-radius: 2px;
    
    
    background-color: #BF9D73;
    
    width: 200px;
    height: 35px;
    padding-top: 7px;
    margin: 0 10px;

}

nav ul li:hover{
background-color: #a88b67;
box-shadow: 0px 0px 5px 0px white;
}

nav ul li a{

    text-decoration: none;
    color: white;
}
