header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #4a602c;
}

header a{
    color: #ffffff;
    
}

header a:hover{
    color: #f7f7f7;
     
}

#contenedorHeader{
    
    /*max-width: 1200px;*/
    width: 90%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    

}

#contenedorHeader img{
    width: 220px;
    height: auto;
   
}
#contenedorHeader img:hover{
transform: scale(1) rotate(1deg);
filter: brightness(110%) grayscale(0);
}

#contenedorIconosHeader{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    color: white;
    margin-top: 15px;

}

#contenedorIconosHeader p{

    font-size: 0.8rem;
    text-align: center;
    

}

#contenedorIconosHeader i{
    text-align: center;
    font-size: 1.6rem;
    
}

#contenedorHeader #contenedorBusqueda{
    width: 50%;
    position: relative;

}

#contenedorHeader input{

    width: 100%;
    font-size: 1.2rem;
    height: 35px;
    border-radius: 20px;
    border: 0px;
    margin-left: 12px;
   
}

#inputBusqueda::placeholder{
    padding-left: 20px;
}

#iconoBusqueda{
    position: absolute;
    left: 96%;
    top: 20%;
    font-size: 20px;
    color: lightslategrey;
}

#resultadoBusqueda{
    position: absolute;
    background-color: white;
    text-decoration: none;    
    width: 100%;
    z-index: 100;

}

#resultadoBusqueda a{
    text-decoration: none;
    color: black;
}

/****************************************Menu */

nav{
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    margin: auto;
   background-color: #737831;
   height: 35px;

}
nav ul{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding-left: 0px;

}

nav ul li{
    text-align: center;
  
    margin: 0 10px;
    width: 150px;
    
    margin-top: 5px;
    color: #4a602c;
}

nav ul li a:hover{

color: #c1b017 !important;
text-decoration: none;
} 

#hamburguerIcon{
   display: none;
}

#menuMobile{
    visibility: hidden;
}

#hamburguerIcon{
   
    position: absolute;
    right: 10px;
    font-size: 30px;
    color: #ffffff;
    

}
#menuMobile{
  
   flex-direction: column;
   position: absolute;
   top: 35px;
   background-color: #4a602c;
    z-index: 2;
    width: 90%;
    align-items: center;
    overflow: hidden;
    transition:height .26s ;
   
    
    
}

#menuMobile li{
    border-bottom: 1px solid gray;
    width: 90%;
    padding: 5px 0px;
   
}

#menuMobile li:hover{
    background-color: #737831;
}

#menuMobile a:hover{
    color: #ffffff !important;
    text-decoration: none;
}

@media(max-width: 768px){
    #hamburguerIcon{
        display: block;
       
    }

    #menuPC{
        display: none;
        ;
    }

    #menuMobile{
       visibility: hidden;
       height: 35px;
        
    }
    

}


  /* fin menu ********************************************/

#iconoLogin{
    text-align: center;
    
    
}
#iconoLogin:hover, #iconoCarrito:hover{
    transform: scale(1) rotate(1deg);
    filter: brightness(110%) grayscale(0);
}
@media(max-width: 992px) {
/*    
    nav{
        
        border: none;

    }

    nav ul{
        
        flex-direction: column;
        align-self: flex-start;
    } */

    #contenedorIconosHeader i{

        font-size: 2rem;
        
    }

    #contenedorHeader img{
        width: 250px;
        height: auto;
        
        order: 1;
       
    }

    
    #iconoCarrito{

        order: 2;
        
        
    }

    
    #contenedorHeader {
        flex-wrap: wrap;
    }

    #contenedorHeader #contenedorBusqueda{
        width: 90%;
        order: 3;
    }

    #iconoBusqueda{
        left: 93%;
        top: 8px;
        color: lightslategrey;
        font-size: 1.5rem;
    }

}
@media(max-width: 768px){

    #contenedorHeader{
        margin-top: 20px;
    }

    #contenedorHeader input {
        width: 100%;
        font-size: 1rem;
        height: 30px;
        border-radius: 20px;
        border: 0px;
        margin-bottom: 7px;
       
    }


    #contenedorIconosHeader i{

        font-size: 20px;

        
    }

    #contenedorHeader img{
        width: 130px;
        height: auto;
        margin-left: 0px;
        margin-right: 20%;
        margin-top: -10px;
        order: 1;
       
    }

       
    #iconoLogin, #iconoCarrito {
        
    margin-right: 12px;

    }

    #iconoCarrito{

        order: 2;
        
        
    }
    
    #contenedorHeader {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    #contenedorHeader #contenedorBusqueda{
        width: 90%;
        order: 3;
    }

    #iconoBusqueda{
        left: 93%;
        top: 8px;
        color: lightslategrey;
        font-size: 1.5rem;
    }
}

