header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #558C03;
}

#contenedorHeader{
    
    max-width: 1200px;
    width: 90%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    

}

#contenedorHeader img{
    width: 200px;
    height: auto;
    
}

#contenedorIconosHeader{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    color: white;

}

#contenedorIconosHeader p{

    font-size: 0.8rem;
    text-align: center;
    

}

#contenedorIconosHeader i{
    text-align: center;
    font-size: 2.2rem;
    
}

#contenedorHeader #contenedorBusqueda{
    width: 50%;
    position: relative;

}

#contenedorHeader input{

    width: 100%;
    font-size: 1.2rem;
    height: 30px;
    border-radius: 5px;
    border: 0px;
    
}

#iconoBusqueda{
    position: absolute;
    left: 96%;
    top: 20%;
    font-size: 20px;
    color: lightslategrey;
}

#resultadoBusqueda{
    position: absolute;
    background-color: white;
    text-decoration: none;    
    width: 100%;

}

#resultadoBusqueda a, a:link,a:visited,a:hover,a:active{
    text-decoration: none;
    color: black;
}

nav{
    display: flex;
    justify-content: center;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    border-top-style:solid; 
    border-top-width: 1px;
    border-top-color: white;

}
nav ul{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding-left: 0px;

}

nav ul li{
    text-align: center;
    border-radius: 3px;
    background-color: #BF9D73;
    margin: 0 10px;
    width: 150px;
    padding: 7px;
    margin-top: 1vh;
}

nav ul li:hover{
background-color: #a88b67;
box-shadow: 0px 0px 5px 0px white;
}


@media(max-width: 992px) {
   
    nav{
        
        border: none;

    }

    nav ul{
        
        flex-direction: column;
        align-self: flex-start;
    }

    #contenedorIconosHeader i{

        font-size: 2rem;
        
    }

    #contenedorHeader img{
        width: 250px;
        height: auto;
        
        order: 1;
       
    }

    
    #iconoCarrito{

        order: 2;
        
        
    }
    
    #contenedorHeader {
        flex-wrap: wrap;
    }

    #contenedorHeader #contenedorBusqueda{
        width: 90%;
        order: 3;
    }

    #iconoBusqueda{
        left: 93%;
        top: 8px;
        color: lightslategrey;
        font-size: 1.5rem;
    }

}
@media(max-width: 768px){
 
    nav{
        
        border: none;

    }

    nav ul{
        
        flex-direction: column;
        align-self: flex-start;
    }

    #contenedorIconosHeader i{

        font-size: 2rem;
        
    }

    #contenedorHeader img{
        width: 150px;
        height: auto;
        margin-left: 20%;
        margin-right: 20%;
        order: 1;
       
    }

    #iconoAyuda {
        
        display: none;

    }
    
    #iconoLogin {
        
        display: none;

    }

    #iconoCarrito{

        order: 2;
        
        
    }
    
    #contenedorHeader {
        flex-wrap: wrap;
    }

    #contenedorHeader #contenedorBusqueda{
        width: 90%;
        order: 3;
    }

    #iconoBusqueda{
        left: 93%;
        top: 8px;
        color: lightslategrey;
        font-size: 1.5rem;
    }
}

