.contenedorHome{
    display: flex;
    margin: 0 auto;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
                      /** PC **/
  
  .contenedorHome h2{
    display: block;
  text-align: center;
  margin-top: 4vh;
  margin-bottom: 4vh;
  }
  
  /** SLIDER */
  .banner{
    display: flex;
    width: 80%;
    height: 30vh;
    align-items: center;
    justify-content: space-between;
    background-image: url("../images/banner-home1.jpg");
    max-width: 1200px;
    background-size: cover;
  }

  .banner i{
    margin-right: 1vh;
    margin-left: 1vh;
    color: #F2E2C4;
  }
  
  /** PRODUCTOS DESTACADOS y COMBOS**/
  
  .contenedorProductos{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .producto{
    display: flex;
    border: black 1px solid;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow:2px 2px 5px grey;
    flex-wrap: wrap;
    margin-left: 1vh;
    margin-right: 1vh;
    width: 20%;
    max-width: 250px;
    background-color: white;
    transition: 0.4s;
  }

  .producto:hover{
    transform: scale(1.05);
  }
.productoNombre{
  margin: 0;
  padding: 0;
  height: 40px;
  font-size: 1rem;
  margin-top: 1vh;
}

.productoPrecio{
  margin-top: 0.5vh;
  margin-bottom: 1vh;
  padding: 0;
  font-size: 1.5rem;
  color: black;
}
  
  .producto img{
    width: 100%;
    border-bottom: black 1px solid;
    background-size: cover;
  }
  

  /** ICONOGRAFIA **/
  
  .contenedorIconos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-size: 1rem;
    width: 80%;
  }
.iconos i{
    transform: scale(0.8);
    transition: 0.3s;
    color: #BF9D73;
  }
  
  .iconos i:hover{
    transform: scale(1) rotate(30deg);
    filter: brightness(110%) grayscale(0);
  } 
  
  .iconos{
    width: 20%;
    margin-left: 2vh;
    margin-right: 2vh;
    font-weight: bolder;
    min-width: 220px;
  }
  
  
  
  /** NEWLSETTER **/
  
  .newsletter{
    display: flex;
    width: 100%;
    background-color: #BFB304;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .newsletter h2{
    margin-top: 1vh;
    margin-bottom: 2vh;
  }
  .contenedorNewsletter{
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }
  
  .contenedorNewsletter input{
    width: 50%;
    margin-bottom: 1vh;
    height: 25px;
  }
  .contenedorNewsletter button{
    width: 8%;
    margin-bottom: 1vh;
    height: 25px;
  }

  .contenedorFooter{
    display: flex;
    width: 100%;
    flex-direction: column;
    max-width: 1500px;
  }
                      /** CELULAR **/
  @media only screen and (max-width: 480px) {
  
  /** PRODUCTOS/COMBOS **/
  .banner{
    display: none;
  }
  .producto{
    width: 100%;
    max-width: 300px;
    margin-bottom: 1vh;
  }
  
  .producto a{
    margin-bottom: 2vh;
  }
  
  /** ICONOS **/
  .iconos{
    width: 100%;
    border-bottom: black solid 1px;
  }

  .iconos:nth-child(3){
    border: none;
  }
  /** NEWSLETTER **/
  .contenedorNewsletter input{
    width: 70%;
  }
  }
                      /** TABLET CHICA**/
   @media only screen and (max-width: 699px) and (min-width: 481px){
  
  .banner{

    height: 10vh;
    max-width: 405px;
  }
  .producto{
  width: 40%;
  max-width: 250px;
  
  }
  
  .producto:nth-child(1n + 3){
  margin-top: 2vh;
  }
   /** ICONOS **/
  .iconos{
    width: 100%;
    border-bottom: black solid 1px;
    margin: 1vh 0;
  }

  .iconos:nth-child(3){
    border: none;
  }
   }
  
                      /** TABLET GRANDE**/
  
  @media only screen and (max-width: 1000px) and (min-width: 700px){
  .banner{
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 700px;
  }
  
    .producto{
    width: 30%;
    max-width: 250px;
  }
  .producto:nth-child(4){
    display: none;
  }
  
  .iconos{
    width: 100%;
    border-bottom: black solid 1px;
    margin: 1vh 0;
  }

  .iconos:nth-child(3){
    border: none;
  }
  
  .contenedorNewsletter input{
    width: 70%;
  }

