.contenedorHome{
    display: flex;
    margin: 0 auto;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
                      /** PC **/
  
  .contenedorHome h2{
    display: block;
  text-align: center;
  }
  
  /** SLIDER */
  .banner{
    display: flex;
    width: 80%;
    height: 40vh;
    border-bottom: solid 1px black;
    align-items: center;
    justify-content: space-between;
  }
  
  /** PRODUCTOS DESTACADOS y COMBOS**/
  
  .contenedorProductos{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .producto{
    display: flex;
    border: black 1px solid;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow:2px 2px 5px grey;
    flex-wrap: wrap;
    margin-left: 1vh;
    margin-right: 1vh;
    width: 20%;
    max-width: 250px;
  }
  
  .producto img{
    width: 100%;
    border-bottom: black 1px solid;
    background-size: cover;
  }
  
  .producto button{
    border: solid 1px black;
    font-size: small;
    border-radius: 2px;
    width: 70%;
    text-decoration: none;
    color: black;
    margin-bottom: 1vh;
    background-color: transparent;
  }
  
  /** ICONOGRAFIA **/
  
  .contenedorIconos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-size: large;
    width: 80%;
  }
  
  /* .iconos i{
    transform: scale(0.8);
    transition: 0.3s;
    filter: grayscale(100%);
  }
  
  .iconos i:hover{
    transform: scale(1) rotate(30deg);
    filter: brightness(150%) grayscale(0);
  } */
  
  .iconos{
    width: 20%;
    margin-left: 2vh;
    margin-right: 2vh;
    font-weight: bolder;
    min-width: 220px;
  }
  
  
  
  /** NEWLSETTER **/
  
  .contenedorNewsletter{
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .contenedorNewsletter input{
    width: 50%;
    margin-bottom: 1vh;
  }
  
                      /** CELULAR **/
  @media only screen and (max-width: 480px) {
  
  /** PRODUCTOS/COMBOS **/
  .producto{
    width: 100%;
    max-width: 300px;
    margin-bottom: 1vh;
  }
  
  .producto a{
    margin-bottom: 2vh;
  }
  
  /** ICONOS **/
  .iconos{
    width: 100%;
    border-bottom: black solid 1px;
    margin: 1vh 0;
  }
  /** NEWSLETTER **/
  .contenedorNewsletter input{
    width: 70%;
  }
  }
                      /** TABLET CHICA**/
   @media only screen and (max-width: 699px) and (min-width: 481px){
  
  .producto{
  width: 40%;
  max-width: 250px;
  
  }
  
  .producto:nth-child(1n + 3){
  margin-top: 2vh;
  }
   /** ICONOS **/
  .iconos{
    width: 100%;
    border-bottom: black solid 1px;
    margin: 1vh 0;
  }
   }
  
                      /** TABLET GRANDE**/
  
  @media only screen and (max-width: 1000px) and (min-width: 700px){
  .producto{
    width: 30%;
    max-width: 250px;
  }
  .producto:nth-child(4){
    display: none;
  }
  
  .iconos{
    width: 100%;
    border-bottom: black solid 1px;
    margin: 1vh 0;
  }
  
  .contenedorNewsletter input{
    width: 70%;
  }