.contenedorListado{
    width: 100vw;
    margin: 0 auto;
    padding: 0;
}

.contenedorCategorias{
display: flex;
align-items: center;
justify-content: center;
width: 100%;
}
.categorias{
display: flex;
background-color: green;
flex-direction: column;
align-items: center;
justify-content: center;
position: relative;
}

.desplegable{
flex-direction: column;
display: none;
}

.desplegable a{
    width: 100%;
    max-width: 200px;
    height: 2vh;
    margin-bottom: 2vh;
    text-align: right;
}

.categorias i:hover + .desplegable{
display: flex;
}