.contenedorListado{
display: flex;
flex-direction: column;
justify-content: center;
}

.categoriaGeneral{
display: flex;
position: relative;
flex-direction: column;
justify-content: center;
align-items: center;
list-style: none;
border: 1px black solid;
text-align: center;
background-color: #9ca651;
}
.categoria-padre{
display: none;
}

.categoria-hija{
    display: none;
}
.categoriaGeneral i{
    margin-left: 1vh;
}

.categoriaGeneral li i:hover > ul{
    display: block;
}

.categoriaGeneral li ul li i:hover + ul{
    display: block;
}

.contenedorProductos{
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.producto{
    margin-top: 1vh;
    margin-bottom: 1vh;
}