#contenedorLogin{
    margin: auto;
    width: 900px;
    margin-top: 30px;
    padding-top: 0px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    background-color: rgb(253, 253, 253);
   
    

}

#contenedorLogin form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    
}

 #contenedorLogin h1{

    background-color: green;
    align-self: stretch;
    margin-top: 0;
    text-align: center;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
} 

#contenedorLogin hr{
    width: 80%;
    height: 1px;
    border: none !important;
    margin: 0px;
    margin-bottom: 10px;
    background-color: green;
}

#contenedorLogin input{

    padding-right: 10px;
    padding-left: 10px;
    margin: 10px 0 20px 0;
    background: #f1f1f1;
    width: 100%;
    font-size: 1.2rem;
    height: 40px;
    border-radius: 5px;
    border: 0px;
    
}

#contenedorLogin p{
    margin: 0;
    margin-top: 10px;
    width: 100%;
    font-size: 1.2rem;
   text-align: center;
   
}



#contenedorLogin a{
    font-size: 0.8rem;
    margin-top: 10px;
    color: gray;

}

