.contenedorListado{
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}



.contenedorImagen{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
    margin: 0;
}

.contenedorImagen img{
    width: 100%;
    background-size: cover;
}

.contenedorImagen h1{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 100px;
    font-family: Redressed; ;
    color:#612F23;
    

}
#listadoCategorias li a{
    text-decoration: none;
}

#listadoCategorias li{
    list-style: none;
}

#contenedorListadoCategorias{
   padding: 30px 30px 50px 10px;
   margin-top: 20px;
    height: 100%;
    border-radius: 10px;
    background-color: #fdfae6;
    font-size: 1.1em;
}

#contenedorListadoCategorias a:hover{
    color: black;
}

/* 
.contenedorListadoCategorias{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: #365902;
    color: black;
    font-weight: bolder;
}

.contenedorCategorias i{
    position: absolute;
    top: 0.5%;
    right: 3%;
}

.categorias{
display: flex;
width: 100%;
flex-direction: column;
justify-content: center;
text-align: center;
}

.categorias a{
    padding: 16px;
    color: black;
    text-decoration: none;
    background-color: grey;
    font-weight: bolder;
    background-color: #BF9D73;
} */
/* 
.sub-categorias{
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
}

.sub-categorias a{
    padding: 16px;
    border-bottom: black 1px solid;
    background-color: white;
    color: black;
    text-decoration: none;
    background-color: #BFB304;
} */

.listadoProductos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 1vh;
}

.productoListado{
    display: flex;
    /* border: black 1px solid; */
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    box-shadow:2px 2px 5px grey;
    flex-wrap: wrap;
    margin: 1vh;
    width: 100%;
    max-width: 250px;
    background-color: white;
    height: 400px;
    /* transition: 0.5s;
     */
}

.productoListado:hover{
    /* transform: scale(1.05); */
  }
.productoNombre{
  margin: 0;
  padding: 0;
  height: 40px;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1vh;
}

.productoPrecio{
  margin-top: 0.5vh;
  margin-bottom: 1vh;
  padding: 0;
  font-size: 1.5rem;
  color: black;
  font-weight: 700;
}
  
  .productoListado img{
    width: 100%;
    /* border-bottom: black 1px solid; */
    background-size: cover;
    height: 250px;
    border-radius: 10px 10px 0px 0px;
    
  }

  .productoListado button{
      margin-bottom: 10px;
  }

@media only screen and (min-width: 480px){

        
.contenedorImagen{
    max-width: 772px;
}
    
.contenedorCategorias{
    max-width: 772px;
}

.productoListado{
    margin-left: 5px;
    margin-right: 5px;
    min-width: 220px;
}

}
@media only screen and (min-width: 780px){
    
    .contenedorCategorias i{
        display: none;
    }

    .productoListado{
        margin-top: 1vh;
    }

    .productoListado:nth-child(4){
        display: none;
    }
}

@media only screen and (min-width: 1005px){
    .contenedorListado{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1400px;
    }

    .contenedorImagen{
        width: 100%;
        max-width: 1400px;
        height: auto;
    }


    .contenedorCategorias{
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        background-color: #365902;
        max-width: 300px;
        color: black;
        font-weight: bolder;
    }

    .contenedorCategorias p, .contenedorCategorias i{
        display: none;
    }
    
    .categoriasProductos{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    }

    .contenedorListadoProductos{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 1vh;  
    }
        
    .contenedorCategorias{
        width: 20%;
        margin-top: 2vh;
    }
    .listadoProductos{
        width: 100%;
    }

    .categorias{
        text-align: left;
    }

}

@media only screen and (min-width: 1335px){

.productoListado:nth-child(4){
    display: flex;
}
}

@media(max-width: 768px){
.contenedorImagen h1{
    font-size: 50px;
}
}