.contenedorListadoProductores{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.contenedorProductores{
    display: grid;
    justify-items:center;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
}

.contenedorProductor{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vh 0;
    max-width: 250px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
}

.contenedorProductor h1{
    font-size: 1.4rem;
}

.contenedorProductor img{
    width: 100%;
    /* border-bottom: black 1px solid; */
    background-size: cover;
    height: 250px;
    border-radius: 10px 10px 0px 0px;

}

.contenedorProductor p {
    word-break: break-all;
    text-align: center;
}
#telefono{
    margin-bottom: 1vh;
}

@media only screen and (max-width: 1340px){
    .contenedorProductores{
        display: grid;
        justify-items:center;
        grid-template-columns: repeat(3, 1fr);
        width: 80%;
    }
}
@media only screen and (max-width: 1000px){
    .contenedorProductores{
        display: grid;
        justify-items:center;
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
    }
}
@media only screen and (max-width: 660px){
    .contenedorProductores{
        display: grid;
        justify-items:center;
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }
}