.contenedorForm{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width:fit-content;
    display: flex;
    flex-direction: column;
    padding-bottom: 1vh;
    align-items: center;
    border-radius: 10px;
    background-color: #f7f7f7;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.contenedorForm form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 30px;

}

.contenedorForm #divRecordarme{

    margin-bottom: 10px;

}

 .contenedorForm h1{
    font-size: 1.8rem;
    background-color:#4a602c ;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 5px 0px 5px 0px;

} 
 .contenedorForm h2{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
} 


.contenedorForm input:not([type="checkbox"]){
    text-align: center;
    margin: 10px 10px;
    background: white;
    font-size: 1rem;
    border: 1px solid #c3c3c3;
    border-radius: 10px;
    width: 97%;
    min-width: 300px;
    padding: 10px;
}
.contenedorForm div input:not([type="checkbox"]){
    text-align: center;
    margin: 10px 10px;
    background: white;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid #c3c3c3;
    width: 45%;
    min-width: 300px;
}

.contenedorForm input[type=checkbox]{
    width: fit-content;
    margin: 7px;
}

.contenedorForm textarea{
    background: white;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid #c3c3c3;
    margin: 1vh 0;
}
.contenedorForm textarea::placeholder{
    text-align: center;
}


.categoriasProducto{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
justify-items: self-end;
}
.contenedorForm textarea{
    justify-content: flex-start;
    margin: 1vh;
    vertical-align: top;
}

.uploadImage input[type="file"] {
    display: none;
}

.uploadImage{
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.uploadImage i{
    margin-right: 5px;
}

.contenedorForm a{
    font-size: 0.8rem;
    margin-top: 5px;
    color: #4a602c;

}

 
@media (max-width: 480px){

    .contenedorForm h1{
        font-size: 1.5rem;
    }

    .contenedorForm p{
        font-size: 1rem;
    }


}

@media(max-width: 768px){
    .contenedorForm{
    margin-left: 10px;
    margin-right: 10px;
    }
}
