.contenedorForm{
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width:fit-content;
    display: flex;
    flex-direction: column;
    padding-bottom: 1vh;
    align-items: center;
    border-radius: 10px;
    background-color: #f7f7f7;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.contenedorForm form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 30px;

}

.contenedorForm #divRecordarme{

    margin-bottom: 10px;

}

 .contenedorForm h1{
    font-size: 1.8rem;
    background-color:#4a602c ;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    padding: 5px 0px 5px 0px;

} 
 .contenedorForm h2{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
} 


.contenedorForm input:not([type="checkbox"]){
    text-align: center;
    margin: 10px 10px;
    background: white;
    font-size: 1rem;
    border: 1px solid #c3c3c3;
    border-radius: 10px;
    width: 97%;
    min-width: 300px;
    padding: 10px;
}
.contenedorForm div{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.contenedorForm div input:not([type="checkbox"]){
    text-align: center;
    margin: 10px 10px;
    background: white;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid #c3c3c3;
    width: 45%;
    min-width: 300px;
}

.contenedorForm input[type=checkbox]{
    width: fit-content;
    margin: 7px;
}

.contenedorForm textarea{
    background: white;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px solid #c3c3c3;
    margin: 1vh 0;
    justify-content: flex-start;
    vertical-align: top;
    max-width: 100%;
}
.contenedorForm textarea::placeholder{
text-align: center;
}


.categoriasProducto{
    display: grid!important;
    grid-template-columns: repeat(3, 1fr);
    justify-items: self-end;
}


.uploadImage input[type="file"] {
    display: none;
}

.uploadImage{
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
.uploadImage i{
    margin-right: 5px;
}

.contenedorForm a{
    font-size: 0.8rem;
    margin-top: 5px;
    color: #4a602c;

}

#barrio{
    height: 40px;
    margin-top: 11px;
}

#pBarrio{
    margin-top: 20px;
}




@media(max-width: 738px){


    .contenedorForm div input:not([type="checkbox"]){
        width: 100%;
        margin: 10px 10px;
    }

    .contenedorForm input:not([type="checkbox"]){
        margin: 10px 0;

    }

    #contactoTextarea{
        width: 100%;
    }
}

@media (max-width: 480px){

    .categoriasProducto{
        grid-template-columns: repeat(2, 1fr);

    }


    .contenedorForm h1{
        font-size: 1.5rem;
    }

    .contenedorForm p{
        font-size: 1rem;
    }

    #contactoNombre, #contactoConsulta{
        width: 100%;
        margin: 10px 0;
    }

    #contactoEmail{
        width: 100%;
        margin: 10px 0;
    }

    .contenedorForm textarea{
        width: 100%;
    }
}