/** CONTENEDOR//GLOBALES **/
body{
  box-sizing: border-box;
}

.contenedor{
 
  margin: 0 auto;
  padding: 0;
}

.contenedor h2{
display: block;
text-align: center;
}

/** SLIDER */
.banner{
  display: flex;
  width: 100%;
  height: 40vh;
  border-bottom: solid 1px black;
  position: relative;
  align-items: center;
  justify-content: space-between;
  
}

/** PRODUCTOS DESTACADOS y COMBOS**/

/** PC **/

.contenedorProductos{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.producto{
  display: flex;
  border: black 1px solid;
  width: 15%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow:2px 2px 5px grey;
}

.producto img{
  display: block;
  height: 200px;
  width: 100%;
  border-bottom: black 1px solid;
  background-size: cover;
}

.producto a{
  border: solid 1px black;
  font-size: small;
  border-radius: 2px;
  width: 60%;
  text-decoration: none;
  color: black;
  margin-bottom: 1vh;
}

/** ICONOGRAFIA **/

.contenedorIconos{
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.iconos{
  width: 300px;
  text-align: center;
}

/** NEWLSETTER **/

.contenedorNewsletter{
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: wrap;
}

/** CELULAR **/
@media only screen and (max-width: 480px) {

/** PRODUCTOS/COMBOS **/
.producto{
  width: 80%;
  margin-top: 1vh;
}

/** ICONOS **/
.iconos{
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bolder;
  border-bottom: 1px black solid;
  margin-top: 1vh;
}

.iconos i{
  width: 80%;
  font-size: 150px;
}

/** NEWSLETTER **/

}
/** FIN HOME **/

/**Comienzo Header **/


#iconosExperienciaUsuario{
  text-align: center;
}

header{
  /*background-color: white;*/
 width: 1000px;
 margin: 0 auto;
}

#iconoIconosUsuario{
  color: black;
  
}

#iconoBarraBusqueda{
  color: black;
}

#iconoAyuda{
color: black;
}

#iconoCompra{
color: black;
}


#iconoAyuda,#iconosUsuario, #iconoCarrito {
  display: inline-block;
  padding: 20px;
}

.lineaCorta{
  width: 90%;
  
}

.lineaLarga{
  width: 100%;
}


/* Aca, no estoy seguro de los valores para la lista*/
.listaHeader{
  list-style: none;
  display: inline-block;
  vertical-align: top;
  padding-left: 50px;
  padding-right: 50px;
}

.listaHeader li:nth-child(1) {
  font-weight: bold;
}

#contenedorListasHeader{
  /* dentro de este id, deberia ir alguna propiedad que me los organize
secuencialmente, con espacio, me re suena a flexbox */
 text-align: center;
  
}

/* Aca deberian ir los parrafos de productos, productores, quienes somos y contacto, pero no imagenes, sino los parrafos con la propiedad aplicada de "border , y en  y deberian estar todos alineados uno al lado del otro, separados brevemente
como si fuera en un contenedor de flexbox, pero no estoy seguro
si lo podemos hacer sin flexbox, con padding o otra propiedad */

