<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/dee27fc75f.js" crossorigin="anonymous"></script>
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
    <title>header</title>

</head>
    <body>
   
        <header>


             <h1>Logo</h1>     <!--aca tendria que ponerlo dentro de un circulo (css)-->


                 <p>Barra de Busqueda</p>  <!--el texto dentro del parrafo deberia ir dentro del Id"iconoBarraBusqueda" y despues deberia tener la funcion de navegarla-->
                 <p>Ayuda</p> <!--el texto deberia ir debajo del id "iconoAyuda" -->
                 <p>Cuenta</p> <!-- --el texto deberia ir debajo del id"IconoUsuario"-->
                 <p>Carrito</p> <!-- --el texto deberia ir debajo del id"-->


            <!-- iconos de compra y busqueda -->
            


      <div id="iconosUsuario"><i class="far fa-user">"></i> <!--el mas parecido que encontre --> 
      </div>
     <div id="iconoBarraBusqueda"><i class="<i class="fa fa-user-circle-o"aria-hidden="true"></i>"></i>
          </div>  <!-- Deberia ir el parrafo de busqueda dentro de este icono, y mas adelante, tener la funcion de navegar-->
                <div id="iconoAyuda"><"i class="fas fa-info-circle"></i>"></i></div> <!--el mas adecuado que encontre -->
                <div id="iconoCompra"><<i class="fas fa-shopping-cart"></i>"></i></div> <!-- muy similar-->
                               </div>

            <!-- linea divisoria corta -->

            <hr class="lineaCorta">

  </header>

</article>
        
        <!-- 4 grupos de texto del header -->
            <div id="contenedorListasHeader">
               <ul class="listaHeader"> 
               <!--esta lista, deberia estar un elemento al lado del otro, flexbox? y deberian estar debajo de "Barra de busqueda" -->  
                <li>Productos</li>
                <li>Productores</li>
                <li>Quienes Somos</li>
                <li>Contacto</li>
            
          </body>
                      </html>
