<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://kit.fontawesome.com/dee27fc75f.js" crossorigin="anonymous"></script>

</head>
  
<body>

		<!--CONTENEDOR-->
			
	<div class="contenedor">

			<!--BANNER-->

			<div class="banner"> 
				<i class="fas fa-arrow-left fa-2x" id="arrowleft"></i>
				<i class="fas fa-arrow-right fa-2x" id="arrowright"></i>
			</div>
				
			<!--PRODUCTOS DESTACADOS-->

		<div class="contenedorproductos">

			<h2>Poductos Destacados</h2>

			<div class="producto">
				<img src="https://i.picsum.photos/id/775/200/300.jpg?hmac=nko360AK314QqqXl8HbvoKqB5EoQuRQHGQ1pDRmSn0c" alt="imagen">
				<p>Nombre producto</p>
				<p>Precio</p>
				<a href="">Agregar al carrito</a>
				<a href="">Ver detalle</a>
			</div>

			<div class="producto">
				<img src="https://i.picsum.photos/id/775/200/300.jpg?hmac=nko360AK314QqqXl8HbvoKqB5EoQuRQHGQ1pDRmSn0c" alt="imagen">
				<p>Nombre producto</p>
				<p>Precio</p>
				<a href="">Agregar al carrito</a>
				<a href="">Ver detalle</a>
			</div>

			<div class="producto">
				<img src="https://i.picsum.photos/id/775/200/300.jpg?hmac=nko360AK314QqqXl8HbvoKqB5EoQuRQHGQ1pDRmSn0c" alt="imagen">
				<p>Nombre producto</p>
				<p>Precio</p>
				<a href="">Agregar al carrito</a>
				<a href="">Ver detalle</a>
			</div>

			<div class="producto">
				<img src="https://i.picsum.photos/id/775/200/300.jpg?hmac=nko360AK314QqqXl8HbvoKqB5EoQuRQHGQ1pDRmSn0c" alt="imagen">
				<p>Nombre producto</p>
				<p>Precio</p>
				<a href="">Agregar al carrito</a>
				<a href="">Ver detalle</a>
			</div>
		</div>

			<!--COMBOS-->
			
		<div class="contenedorproductos">

			<h2>Combos</h2>

			<div class="producto">
				<img src="https://i.picsum.photos/id/775/200/300.jpg?hmac=nko360AK314QqqXl8HbvoKqB5EoQuRQHGQ1pDRmSn0c" alt="imagen">
				<p>Nombre producto</p>
				<p>Precio</p>
				<a href="">Agregar al carrito</a>
				<a href="">Ver detalle</a>
			</div>

			<div class="producto">
				<img src="https://i.picsum.photos/id/775/200/300.jpg?hmac=nko360AK314QqqXl8HbvoKqB5EoQuRQHGQ1pDRmSn0c" alt="imagen">
				<p>Nombre producto</p>
				<p>Precio</p>
				<a href="">Agregar al carrito</a>
				<a href="">Ver detalle</a>
			</div>

			<div class="producto">
				<img src="https://i.picsum.photos/id/775/200/300.jpg?hmac=nko360AK314QqqXl8HbvoKqB5EoQuRQHGQ1pDRmSn0c" alt="imagen">
				<p>Nombre producto</p>
				<p>Precio</p>
				<a href="">Agregar al carrito</a>
				<a href="">Ver detalle</a>
			</div>

			<div class="producto">
				<img src="https://i.picsum.photos/id/775/200/300.jpg?hmac=nko360AK314QqqXl8HbvoKqB5EoQuRQHGQ1pDRmSn0c" alt="imagen">
				<p>Nombre producto</p>
				<p>Precio</p>
				<a href="">Agregar al carrito</a>
				<a href="">Ver detalle</a>
			</div>
		</div>

			<!--ICONOGRAFIA-->
		<div class="contenedoriconos">

			<h2>¿Como trabajamos?</h2>

			<div class="iconos">
				<i class="fas fa-desktop fa-4x"></i>
				<p> ¡Explorá nuestro catálogo y elegí los productos que más te gusten!</p>
			</div>
			
			<div class="iconos">
				<i class="fas fa-credit-card fa-4x"></i>
				<p>¡Registrate o iniciá sesión para pagar tu compra!</p>
			</div>
			
			<div class="iconos">
				<i class="fas fa-truck fa-4x"></i>
				<p>¿Te lo llevamos a tu casa o lo pasas a buscar por alguno de nuestros puntos de retira? ¡Tú decisión!</p>
			</div>
		
		</div>
		
		<div>
			<div class="contenedornewsletter">
				<h2>¡No te pierdas ninguna oferta!</h2>
				<form action="/" method="POST">
				<input type="email" id="email" name="email">
				<button type="submit">Enviar</button>
				</form>			
			</div>
		</div>
	</div>
</body>
</html>
