<%- include('./partials/head.ejs'); %>

<%- include('./partials/header.ejs'); %>

<div class="contenedorInstitucional">
    <div class="contenedorImagen">
        <img src="/images/banda-tienda.png" alt="">
        <h1>Programa de Economía Social y Solidaria</h1>
    </div>
    <div class="contenedorIntroduccion">

            <p>Se propone desde la Secretaría de Extensión y Relaciones Institucionales, un programa que tiende a impulsar y fomentar el trabajo de emprendedores y emprendedoras de la economía social, tanto de la institución como de la comunidad en general, con el objetivo de apoyar y fortalecer a las economías populares y establecer diálogos de saberes y haceres entre diferentes sectores.</p>

            <p>Es una forma de generar espacios de participación y compromiso social, por medio de acciones para la ciudadanía, como la organización de ferias de comercio justo, seminarios y cursos de formación, así como formar parte de redes colaborativas vinculadas a economías populares.</p>

            <p>Responde al reconocimiento de la importancia de la organización social en torno al trabajo, la promoción de redes de desarrollo local, y al compromiso de generar una educación superior de calidad con pertinencia territorial, donde sus actores estén incluídos en el diálogo con otros colectivos sociales de manera articulada y cooperativa.</p>
    </div>
<div class="contenedorObjetivos">
    <div class="objetivosImagen">
        <img src="/images/feria-fauba-1.png" alt="">
    </div>
<div class="objetivosTexto">
<h3>Se promoverán proyectos que aporten a:</h3>

<ul>
    <li>Desarrollar lazos entre la comunidad y el ámbito universitario.</li>
    <li>Recuperar conocimientos de la cultura popular y difundirlos a través de los canales disponibles en la universidad.</li>
    <li>Ofrecer conocimientos y técnicas que permitan el desarrollo de productivos dentro de la economía social y solidaria.</li>
    <li>A través de diversas instancias de formación, invitar a la comunidad a que se inscriba en formaciones más integrales de la Universidad Provincial de Córdoba.</li>
    <li>Fomentar el desarrollo del conocimiento, mediante la confluencia entre el conocimiento científico y la experiencia de un oficio.</li>
</ul>
</div>
</div>

<div class="contenedorPropuestas">
<h3>Líneas de acción</h3>

<h4>Algunas de las propuestas del programa de economía social y solidaria son:
</h4>
<ul>
<li>Realizar la Feria Solidaria de manera mensual, un espacio abierto de venta de productos artesanales, alimentos de la agricultura familiar, talleres artísticos, y otras expresiones culturales</li>
<li>Feria semanal de alimentos de la agricultura familiar, que se realiza en la sede de Ciudad de las Artes, con productores del cinturón verde de la provincia, y poder extenderla al campus norte de la Universidad.</li>
<li>Generar  Ciclos de talleres de la Economía Social y Solidaria, donde los artesanos sean los encargados de compartir sus saberes.
</li>
<li>Participación activa en la Red Universitaria de Economía Social y Solidaria, donde generamos lazos sociales y académicos a nivel nacional e internacional.
</li>
<li>Articular las actividades del programa con las diversas propuestas que se generan en las Facultades y Escuelas de nuestra Universidad.
</li>
<li>Generar espacios de formación en economía y emprendedurismo, buscando generar un piso de formación, estimular la producción viable, sustentable y generadora de ingresos, el trabajo en red y la autogestión.
</li>
</ul>
</div>
</div>
</div>


<%- include('./partials/footer.ejs'); %>    