<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://kit.fontawesome.com/dee27fc75f.js" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-widht, initial-scale=1">
</head>
<body>

<div class="contenedorCarrito">
    <h1>TU CARRITO</h1>
    
    <div class="separador"></div>

        <div class="productoCarrito">
            <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="">
            <div class="contenidoCarrito">
                <p class="arribaIzquierda">NOMBRE DEL PRODUCTO</p>
                <p class="abajoIzquierda">CANTIDAD: X
                    <button>-</button>
                    <input type="number" name="1" id="1" value="1">
                    <button>+</button>
                </p>
                <p class="arribaDerecha">PRECIO UNITARIO: $XXX</p>
                <p class="abajoDerecha">TOTAL PRODUCTO $XXX</p>
            </div>
        </div>
    
        <div class="productoCarrito">
            <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="">
            <div class="contenidoCarrito">
                <p class="arribaIzquierda">NOMBRE DEL PRODUCTO</p>
                <p class="abajoIzquierda">CANTIDAD: X
                    <button>-</button>
                    <input type="number" name="1" id="1" value="1">
                    <button>+</button>
                </p>
                <p class="arribaDerecha">PRECIO UNITARIO: $XXX</p>
                <p class="abajoDerecha">TOTAL PRODUCTO $XXX</p>
            </div>
        </div>

            <div class="productoCarrito">
                <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="">
                <div class="contenidoCarrito">
                    <p class="arribaIzquierda">NOMBRE DEL PRODUCTO</p>
                    <p class="abajoIzquierda">CANTIDAD: X
                        <button>-</button>
                        <input type="number" name="1" id="1" value="1">
                        <button>+</button>
                    </p>
                    <p class="arribaDerecha">PRECIO UNITARIO: $XXX</p>
                    <p class="abajoDerecha">TOTAL PRODUCTO $XXX</p>
                </div>

        <div class="costoParcial"> 
            <h2>ENVIO: $XXX</h2>
            <h2>SUB-TOTAL: $XXX</h2>
        </div>

        <div class="costoTotal">
            <h2>TOTAL: $XXX</h2>
        </div>


            
        <div class="contenedorBotones">
            <button class="botonesCarrito">CONTINUAR COMPRANDO</button>
            <button class="botonesCarrito">FINALIZAR COMPRA</button>
        </div>
</div>

</body>
</html>