<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://kit.fontawesome.com/dee27fc75f.js" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-widht, initial-scale=1">
</head>
<body>

    <div class="contenedor">
    <h1>TU CARRITO</h1>
    
    <div class="separador"></div>
        <div class="productoCarrito">
            <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="">
            <p class="arribaIzquierda">NOMBRE DEL PRODUCTO</p>
            <p class="abajoIzquierda">CANTIDAD:</p>
            <div class="sumarRestar">
                <button>-</button>
                <input type="number" name="1" id="1" value="1">
                <button>+</button>
            </div>
            <p class="arribaDerecha">PRECIO UNITARIO: $XXX</p>
            <p class="abajoDerecha">TOTAL PRODUCTO $XXX</p>
 
        </div>
    



        <div class="productoCarrito">
            <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="">
            <p class="arribaIzquierda">NOMBRE DEL PRODUCTO</p>
            <P class="abajoIzquierda">CANTIDAD:</P>
            <P class="arribaDerecha">PRECIO UNITARIO: $XXX</P>
            <P class="abajoDerecha">TOTAL PRODUCTO $XXX</P>
 
        </div>


        <div class="productoCarrito">
            <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="">
            <p class="arribaIzquierda">NOMBRE DEL PRODUCTO</p>
            <P class="abajoIzquierda">CANTIDAD:</P>
            <P class="arribaDerecha">PRECIO UNITARIO: $XXX</P>
            <P class="abajoDerecha">TOTAL PRODUCTO $XXX</P>
 
        </div>
    
    <div class="costo">
        <h2>ENVIO: $XXX</h2>
        <h2>SUB-TOTAL: $XXX</h2>
        <h2 class="costoEnvio">TOTAL: $XXX</h2>
    </div>

    <div class="contenedorBotones">
        <button>CONTINUAR COMPRANDO</button>
        <button>FINALIZAR COMPRA</button>
    </div>
   
</body>
</html>