<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://kit.fontawesome.com/dee27fc75f.js" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-widht, initial-scale=1">
</head>
<body>

<div class="contenedorCarrito">
    <h1>TU CARRITO</h1>
    
    <div class="separador"></div>

        <div class="productoCarrito">
            <img src="./images/imagen-producto5.jpg" alt="">
            <div class="contenidoCarrito">
                <p class="arribaIzquierda">FRASCO DE ACEITUNAS</p>
                <p class="abajoIzquierda">CANTIDAD:
                    <button class="claseButton">-</button>
                    <input type="number" name="1" id="1" value="1">
                    <button class="claseButton">+</button>
                </p>
                <p class="arribaDerecha">PRECIO UNITARIO: $ 210</p>
                <p class="abajoDerecha">TOTAL PRODUCTO $ 210</p>
            </div>
        </div>
    
        <div class="productoCarrito">
            <img src="./images/imagen-producto6.jpg" alt="">
            <div class="contenidoCarrito">
                <p class="arribaIzquierda">RAVIOLES DE RICOTA</p>
                <p class="abajoIzquierda">CANTIDAD:
                    <button class="claseButton">-</button>
                    <input type="number" name="1" id="1" value="1">
                    <button class="claseButton">+</button>
                </p>
                <p class="arribaDerecha">PRECIO UNITARIO: $XXX</p>
                <p class="abajoDerecha">TOTAL PRODUCTO $XXX</p>
            </div>
        </div>

            <div class="productoCarrito">
                <img src="./images/imagen-producto7.jpg" alt="">
                <div class="contenidoCarrito">
                    <p class="arribaIzquierda">NOMBRE DEL PRODUCTO</p>
                    <p class="abajoIzquierda">CANTIDAD:
                        <button class="claseButton">-</button>
                        <input type="number" name="1" id="1" value="1">
                        <button class="claseButton">+</button>
                    </p>
                    <p class="arribaDerecha">PRECIO UNITARIO: $XXX</p>
                    <p class="abajoDerecha">TOTAL PRODUCTO $XXX</p>
                </div>

        <div class="costoParcial"> 
            <h2>ENVIO: $XXX</h2>
            <h2>SUB-TOTAL: $XXX</h2>
        </div>

        <div class="costoTotal">
            <h2>TOTAL: $XXX</h2>
        </div>


            
        <div class="contenedorBotones">
            <button class="claseButton">CONTINUAR COMPRANDO</button>
            <button class="claseButton">FINALIZAR COMPRA</button>
        </div>

        <footer class="contenedorFooter">
       
			<!-- 3 grupos de texto del footer -->
			<div id="contenedorListasFooter">
				<ul class="listaFooter"> 
					<li>La Feria</li>
					<li>Mi cuenta</li>
					<li>Carrito</li>
					<li>Productos</li>
					<li>Productores</li>
				</ul>
	
				<ul class="listaFooter"> 
					<li>Contacto</li>
					<li>info@feriasolidaria.com</li>
					<li>Tel: 0351 45588777</li>
					<li>Whatsapp 3516021155</li>
					
				</ul>
	
				<ul class="listaFooter"> 
					<li>Puntos de entrega</li>
					<li>La direccion 2110</li>
					<li>Segunda Direccion 5544</li>
					<li>Tercera Direccion 5548</li>
					<li>Córdoba Argentina</li>
					
				</ul>
	
				 <!-- iconos sociales -->
				<ul id="listaIconosSociales"> 
					<li id="iconoFacebook"><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-square fa-3x"></i></a></li>
					<li id="iconoInstagram"><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram fa-3x"></i></a></li>
					<li id="iconoTwitter"><a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter fa-3x"></i></a></li>
				</ul>
	
			</div>
			
			
	
				<!-- Iconos Medios de Pago -->
				<ul id="listaMediosPago">
					<li class="iconoMedioPago"><p>Medios de Pago</p></li>
					<li class="iconoMedioPago"><img src="/images/logo-mercadopago.jpg"></li>
				</ul>
	
			 
				<div id="copyright">
					<!-- Texto derechos -->
					<p >Todo los derechos reservados - Feria Solidaria 2020</p>
				
				</div>
	 
		</footer>
</div>

</body>
</html>