<%- include('./partials/head.ejs'); %>

<%- include('./partials/header.ejs'); %>

<div class="contenedorForm">
    <h1>Contacto</h1>
    <form action="" method="POST">

        <div>
            <input type="text" placeholder="Nombre">
            <input type="text" placeholder="Consulta">
        </div>
            <input type="mail" placeholder="Correo Electronico">
            <textarea name="Deje su mensaje" id="" cols="75" rows="10" placeholder="Deje su mensaje"></textarea>
            <button class="claseButton">Enviar</button>
    </form>
</div>

<%- include('./partials/footer.ejs'); %>    