<%- include('./partials/head.ejs'); %>

<%- include('./partials/header.ejs'); %>

<div class="contenedorForm">
    <h1>Contacto</h1>
    <form action="" method="POST">

        <div style="display: flex;">
            <input type="text" placeholder="Nombre" id="contactoNombre">
            <input type="text" placeholder="Consulta" id="contactoConsulta">
        </div>
            <input type="mail" placeholder="Correo Electronico" id="contactoEmail">
            <textarea name="Deje su mensaje" id="contactoTextarea" cols="75" rows="10" placeholder="Deje su mensaje"></textarea>
            <button class="claseButton">Enviar</button>
    </form>
</div>

<%- include('./partials/footer.ejs'); %>    