<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Producto</title>
    <script src="https://kit.fontawesome.com/dee27fc75f.js" crossorigin="anonymous"></script>
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    
    
    
    <main id="mainDetalleProducto">
        
        <p class="rutaProducto"><a>Ruta de producto1 </a>/<a> ruta producto2 </a>/ <a>Nombre producto</a></p>    
        
        <div id="contenedorFlex">
        
            
git pull
            <div id="contenedor1"> <!--DIV Imagen y miniaturas-->
                
                <div class="contenedorImagenPrincipalProducto">

                    <img class="imagenPrincipalProducto" src="/images/imagen-producto1.jpg">
                
                </div>

                <div id="listaMiniaturas">

                    <div><a><img src="/images/imagen-miniatura1-producto1.jpg"></a></div>
                    <div><a><img src="/images/imagen-miniatura2-producto1.jpg"></a></div>
                    <div><a><img src="/images/imagen-miniatura3-producto1.jpg"></a></div>
            
                </div>
            </div>    
            
            <div id="contenedor2">
            
                <div id="contenedorTituloDescripcion"> <!--DIV titulo y descripcion-->
                    
                    <h1 class="tituloProducto">Titulo Producto</h1>
                    <p class="descripcionCortaProducto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe architecto sint suscipit eos beatae ipsa vero dignissimos impedit harum similique quisquam eveniet, illum assumenda libero quaerat delectus. Ullam, praesentium suscipit!</p>
                
                </div>


                <div id="contenedorCompartirRedes"> <!--DIV compartir en redes -->

                    
                
                    <p class="textoCompartir">Compartir</p>
                
                    <ul id="listaCompartirIconosSociales"> 
                    
                        <li id="iconoCompartirFacebook"><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a></li>
                        <li id="iconoCompartirInstagram"><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram fa-2x"></i></a></li>
                        <li id="iconoCompartirTwitter"><a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter fa-2x"></i></a></li>
                    
                    </ul>
                    

                </div>

                <div id="contenedorPrecioCantidadBotones"> <!--DIV Precio Cantidad Botones Condiciones-->
                    
                    <p id="precio">PRECIO: $ XXX</p>    
                
                    <div id="sumaRestaCarrito">
                            
                        <p id="textoCantidadCarrito">Cantidad:</p>
                    
                        <button>-</button>
                    
                        <input type="number" value="1" class="cantidadAgregaCarrito">
                    
                        <button>+</button>
                    
                        <button id="btnAgregarCarrito">Agregar al Carrito</button>
                
                    </div>
                
                    <div id="contenedorBotonContinuarComprando">
            
                        <button>Continuar Comprando</button>
            
                    </div>

                    <p id="condiciones"> Condiciones: Las entregas son los días sábado, sujeto a disponibilidad.</p>
                
                </div>

            </div>

            
        
        </div>
       
        <h3>Descripcion Larga</h3>
        <p class="descripcionLargaProducto">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum porro ducimus enim dolores ipsam natus, ad alias ratione asperiores omnis, ut dolore consectetur veritatis illo qui numquam, veniam id aliquam!</p>

    </main>


</body>
</html>