<%- include('./partials/head.ejs'); %>

<%- include('./partials/header.ejs'); %>

<div class="contenedor">
    <h1>Algo salió mal / Página no encontrada</h1>
    <a href="/"><h2>Volver al Home</h2></a>
</div>
<%- include('./partials/footer.ejs'); %>
