<div class="container"><img style="width: 50%;" src="\images\logoferia.jpg" alt="FeriadeAlimentosLogo" />
    <div class="bottom-left">Bottom Left</div>
    <div class="top-left">Top Left</div>
    <div class="top-right">Top Right</div>
    <div class="bottom-right">Bottom Right</div>
    <div class="centered">Centered</div>
    </div>
    <p>&nbsp;</p>
    <header><!-- iconos usuarios -->
    <ul id="listaIconosUsuario">
    <li id="iconoCarrito"></li>
    <li id="iconoAyuda"></li>
    <li id="iconoCuenta"></li>
    </ul>
    <!-- linea divisoria corta --><hr class="lineaCorta" /><!--Formulario --><form class="example" action="funcionbusqueda.js&lt;!-- post sprint 3 --&gt;"><input name="search" type="text" placeholder="Barra de Busqueda" /> <button type="submit"></button></form><!-- Libreria de Iconos -->
      <!-- Libreria de Iconos -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <div class="navbar">
      <a class="active" href="#"><i class="fa fa-comments" aria-hidden="true"></i> Ayuda</a>
       <a href="#"><i class="fa fa-fw fa-user"></i>Cuenta</a>
      <a class="active" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Carrito</a>
      
    </div>
      <hr class="lineaCorta" />
    <div class="navbar"><a class="active" href="#"> Productos</a> <a href="#"> Productores </a> <a href="#"> Quienes Somos</a> <a href="#"> Contacto</a></div>
    <!-- linea divisoria  --><hr /><!-- Fin de Header -->