
<%- include('./partials/head.ejs'); %>

<%- include('./partials/header.ejs'); %>

	<div class="contenedorHome">



			<!--BANNER-->

		<div class="banner"> 
			<i class="fas fa-arrow-left fa-2x"></i>
			<i class="fas fa-arrow-right fa-2x"></i>
		</div>
				
			<!--PRODUCTOS DESTACADOS-->

		<h2>¡Explorá nuestros productos!</h2>

		<section class="contenedorGrid">
			<div class="gridCategorias">
			<%	for(let categoria of categories){ %>
				<button class="claseButton"><%=categoria.nombre_categoria%></button>
			<%	} %>
			</div>
		</section>



		<h2>¿Como trabajamos?</h2>

			<!--ICONOGRAFIA-->
		<div class="contenedorIconos">


			<div class="iconos">
				<i class="fas fa-desktop fa-6x"></i>
				<p> ¡Explorá nuestro catálogo y elegí los productos que más te gusten!</p>
			</div>
			
			<div class="iconos">
				<i class="fas fa-credit-card fa-6x"></i>
				<p>¡Registrate o iniciá sesión para pagar tu compra!</p>
			</div>
			
			<div class="iconos">
				<i class="fas fa-truck fa-6x"></i>
				<p>¿Te lo llevamos a tu casa o lo pasas a buscar por alguno de nuestros puntos de retiro? ¡Tú decisión!</p>
			</div>
		
		</div>
		
		<!-- NEWSLETTER -->
		
		<div class="newsletter">
			<h2>¡No te pierdas ninguna oferta!</h2>
		
				
			<form action="/" method="POST" class="contenedorNewsletter">
			<input type="email" id="email" name="email" placeholder="¡Ingresá tu e-mail!">
			<button type="submit" class="claseButton">Enviar</button>
			</form>			
		</div>
		
	</div>

<%- include('./partials/footer.ejs'); %>

