<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://kit.fontawesome.com/dee27fc75f.js" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-widht, initial-scale=1">
</head>
  
<body>

		<!--CONTENEDOR-->
			
	<div class="contenedor">

			<!--BANNER-->

		<div class="banner"> 
			<i class="fas fa-arrow-left fa-2x"></i>
			<i class="fas fa-arrow-right fa-2x"></i>
		</div>
				
			<!--PRODUCTOS DESTACADOS-->

		<h2>Poductos Destacados</h2>

		<div class="contenedorProductos">

			

			<div class="producto">
				<img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
				<p>Nombre producto</p>
				<p>Precio</p>
				<a href="">Agregar al carrito</a>
				<a href="">Ver detalle</a>
			</div>

			<div class="producto">
				<img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
				<p>Nombre producto</p>
				<p>Precio</p>
				<a href="">Agregar al carrito</a>
				<a href="">Ver detalle</a>
			</div>

			<div class="producto">
				<img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
				<p>Nombre producto</p>
				<p>Precio</p>
				<a href="">Agregar al carrito</a>
				<a href="">Ver detalle</a>
			</div>

			<div class="producto">
				<img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
				<p>Nombre producto</p>
				<p>Precio</p>
				<a href="">Agregar al carrito</a>
				<a href="">Ver detalle</a>
			</div>
		</div>

			<!--COMBOS-->
			
		<h2>Combos</h2>

		<div class="contenedorProductos">

			

			<div class="producto">
				<img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
				<p>Nombre producto</p>
				<p>Precio</p>
				<a href="">Agregar al carrito</a>
				<a href="">Ver detalle</a>
			</div>

			<div class="producto">
				<img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
				<p>Nombre producto</p>
				<p>Precio</p>
				<a href="">Agregar al carrito</a>
				<a href="">Ver detalle</a>
			</div>

			<div class="producto">
				<img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
				<p>Nombre producto</p>
				<p>Precio</p>
				<a href="">Agregar al carrito</a>
				<a href="">Ver detalle</a>
			</div>

			<div class="producto">
				<img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
				<p>Nombre producto</p>
				<p>Precio</p>
				<a href="">Agregar al carrito</a>
				<a href="">Ver detalle</a>
			</div>
		</div>

		<h2>¿Como trabajamos?</h2>

			<!--ICONOGRAFIA-->
		<div class="contenedorIconos">


			<div class="iconos">
				<i class="fas fa-desktop fa-6x"></i>
				<p> ¡Explorá nuestro catálogo y elegí los productos que más te gusten!</p>
			</div>
			
			<div class="iconos">
				<i class="fas fa-credit-card fa-6x"></i>
				<p>¡Registrate o iniciá sesión para pagar tu compra!</p>
			</div>
			
			<div class="iconos">
				<i class="fas fa-truck fa-6x"></i>
				<p>¿Te lo llevamos a tu casa o lo pasas a buscar por alguno de nuestros puntos de retira? ¡Tú decisión!</p>
			</div>
		
		</div>
		
		<!-- NEWSLETTER -->
		
		<h2>¡No te pierdas ninguna oferta!</h2>

		
				
			<form action="/" method="POST" class="contenedorNewsletter">
			<input type="email" id="email" name="email">
			<button type="submit">Enviar</button>
			</form>			
		
		
	</div>
</body>
</html>
