<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="https://kit.fontawesome.com/dee27fc75f.js" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-widht, initial-scale=1">
</head>
  
<body>

		<!--CONTENEDOR-->
			
	<div class="contenedorHome">

			<!--BANNER-->

		<div class="banner"> 
			<i class="fas fa-arrow-left fa-2x"></i>
			<i class="fas fa-arrow-right fa-2x"></i>
		</div>
				
			<!--PRODUCTOS DESTACADOS-->

		<h2>Productos Destacados</h2>

		<div class="contenedorProductos">

			
			<div class="producto">
				<img src="./images/imagen-producto1.jpg" alt="imagen">
				<p class="productoNombre">Miel de pradera - dias de Miel</p>
				<p class="productoPrecio">$ 259</p>
				<button class="claseButton"><a href="">Agregar al carrito</a></button>
				<button class="claseButton"><a href="">Ver detalle</a></button>
			</div>

			<div class="producto">
				<img src="./images/imagen-producto2.jpg" alt="imagen">
				<p class="productoNombre">Budin con frutos secos</p>
				<p class="productoPrecio">$ 90</p>
				<button class="claseButton"><a href="">Agregar al carrito</a></button>
				<button class="claseButton"><a href="">Ver detalle</a></button>
			</div>

			<div class="producto">
				<img src="./images/imagen-producto3.jpg" alt="imagen">
				<p class="productoNombre">Pasta frola de batata</p>
				<p class="productoPrecio">$ 160</p>
				<button class="claseButton"><a href="">Agregar al carrito</a></button>
				<button class="claseButton"><a href="">Ver detalle</a></button>
			</div>

			<div class="producto">
				<img src="./images/imagen-producto4.jpg" alt="imagen">
				<p class="productoNombre">Aceite de oliva</p>
				<p class="productoPrecio">$300</p>
				<button class="claseButton"><a href="">Agregar al carrito</a></button>
				<button class="claseButton"><a href="">Ver detalle</a></button>
			</div>
		</div>

			<!--COMBOS-->
			
		<h2>Combos</h2>

		<div class="contenedorProductos">

			

			<div class="producto">
				<img src="./images/imagen-producto5.jpg" alt="imagen">
				<p class="productoNombre">Frasco de aceitunas</p>
				<p class="productoPrecio">$ 210</p>
				<button class="claseButton"><a href="">Agregar al carrito</a></button>
				<button class="claseButton"><a href="">Ver detalle</a></button>
			</div>

			<div class="producto">
				<img src="./images/imagen-producto6.jpg" alt="imagen">
				<p class="productoNombre">Ravioles rellenos de ricota</p>
				<p class="productoPrecio">$ 110</p>
				<button class="claseButton"><a href="">Agregar al carrito</a></button>
				<button class="claseButton"><a href="">Ver detalle</a></button>
			</div>

			<div class="producto">
				<img src="./images/imagen-producto7.jpg" alt="imagen">
				<p class="productoNombre">Sándwiches de miga de jamon y queso</p>
				<p class="productoPrecio">$ 320</p>
				<button class="claseButton"><a href="">Agregar al carrito</a></button>
				<button class="claseButton"><a href="">Ver detalle</a></button>
			</div>

			<div class="producto">
				<img src="./images/imagen-producto2.jpg" alt="imagen">
				<p class="productoNombre">Budin con frutos secos</p>
				<p class="productoPrecio">$ 90</p>
				<button class="claseButton"><a href="">Agregar al carrito</a></button>
				<button class="claseButton"><a href="">Ver detalle</a></button>
			</div>
		</div>

		<h2>¿Como trabajamos?</h2>

			<!--ICONOGRAFIA-->
		<div class="contenedorIconos">


			<div class="iconos">
				<i class="fas fa-desktop fa-6x"></i>
				<p> ¡Explorá nuestro catálogo y elegí los productos que más te gusten!</p>
			</div>
			
			<div class="iconos">
				<i class="fas fa-credit-card fa-6x"></i>
				<p>¡Registrate o iniciá sesión para pagar tu compra!</p>
			</div>
			
			<div class="iconos">
				<i class="fas fa-truck fa-6x"></i>
				<p>¿Te lo llevamos a tu casa o lo pasas a buscar por alguno de nuestros puntos de retira? ¡Tú decisión!</p>
			</div>
		
		</div>
		
		<!-- NEWSLETTER -->
		
		<div class="newsletter">
			<h2>¡No te pierdas ninguna oferta!</h2>
		
				
			<form action="/" method="POST" class="contenedorNewsletter">
			<input type="email" id="email" name="email" placeholder="¡Ingresá tu e-mail!">
			<button type="submit" class="claseButton">Enviar</button>
			</form>			
		</div>

		<footer class="contenedorFooter">
       
			<!-- 3 grupos de texto del footer -->
			<div id="contenedorListasFooter">
				<ul class="listaFooter"> 
					<li>La Feria</li>
					<li>Mi cuenta</li>
					<li>Carrito</li>
					<li>Productos</li>
					<li>Productores</li>
				</ul>
	
				<ul class="listaFooter"> 
					<li>Contacto</li>
					<li>info@feriasolidaria.com</li>
					<li>Tel: 0351 45588777</li>
					<li>Whatsapp 3516021155</li>
					
				</ul>
	
				<ul class="listaFooter"> 
					<li>Puntos de entrega</li>
					<li>La direccion 2110</li>
					<li>Segunda Direccion 5544</li>
					<li>Tercera Direccion 5548</li>
					<li>Córdoba Argentina</li>
					
				</ul>
	
				 <!-- iconos sociales -->
				<ul id="listaIconosSociales"> 
					<li id="iconoFacebook"><a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-square fa-3x"></i></a></li>
					<li id="iconoInstagram"><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram fa-3x"></i></a></li>
					<li id="iconoTwitter"><a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter fa-3x"></i></a></li>
				</ul>
	
			</div>
			
			
	
				<!-- Iconos Medios de Pago -->
				<ul id="listaMediosPago">
					<li class="iconoMedioPago"><p>Medios de Pago</p></li>
					<li class="iconoMedioPago"><img src="/images/logo-mercadopago.jpg"></li>
				</ul>
	
			 
				<div id="copyright">
					<!-- Texto derechos -->
					<p >Todo los derechos reservados - Feria Solidaria 2020</p>
				
				</div>
	 
		</footer>
		
	</div>
</body>
</html>
