<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-widht, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/__listado-productos.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>


    <div class="contenedorListado">
    
        <div class="categoriasGeneral">
            <div class="categoria-padre">
                Categoria
                <ul>
                    <li>Sub-categoria</li>
                    <li>Sub-categoria</li>
                    <li>Sub-categoria</li>
                </ul>
            </div>

            <div class="categoria-padre">
                Categoria
                <ul>
                    <li>Sub-categoria</li>
                    <li>Sub-categoria</li>
                    <li>Sub-categoria</li>
                </ul>
            </div>

            <div class="categoria-padre">
                Categoria
                <ul>
                    <li>Sub-categoria</li>
                    <li>Sub-categoria</li>
                    <li>Sub-categoria</li>
                </ul>
            </div>

            <div class="categoria-padre">
                Categoria
                <ul>
                    <li>Sub-categoria</li>
                    <li>Sub-categoria</li>
                    <li>Sub-categoria</li>
                </ul>
            </div>

        </div>
        
    <div class="grilla">
        <div class="contenedorProductos">

            <div class="producto">
                <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
                <p>Nombre producto</p>
                <p>Precio</p>
                <button>Agregar al carrito</button>
                <button>Ver detalle</button>
            </div>

            <div class="producto">
                <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
                <p>Nombre producto</p>
                <p>Precio</p>
                <button>Agregar al carrito</button>
                <button>Ver detalle</button>
            </div>

            <div class="producto">
                <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
                <p>Nombre producto</p>
                <p>Precio</p>
                <button>Agregar al carrito</button>
                <button>Ver detalle</button>
            </div>
        </div>

        <div class="contenedorProductos">
            
            <div class="producto">
                <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
                <p>Nombre producto</p>
                <p>Precio</p>
                <button>Agregar al carrito</button>
                <button>Ver detalle</button>
            </div>

            <div class="producto">
                <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
                <p>Nombre producto</p>
                <p>Precio</p>
                <button>Agregar al carrito</button>
                <button>Ver detalle</button>
            </div>

            <div class="producto">
                <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
                <p>Nombre producto</p>
                <p>Precio</p>
                <button>Agregar al carrito</button>
                <button>Ver detalle</button>
            </div>
        </div>

        <div class="contenedorProductos">
            
            <div class="producto">
                <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
                <p>Nombre producto</p>
                <p>Precio</p>
                <button>Agregar al carrito</button>
                <button>Ver detalle</button>
            </div>

            <div class="producto">
                <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
                <p>Nombre producto</p>
                <p>Precio</p>
                <button>Agregar al carrito</button>
                <button>Ver detalle</button>
            </div>

            <div class="producto">
                <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
                <p>Nombre producto</p>
                <p>Precio</p>
                <button>Agregar al carrito</button>
                <button>Ver detalle</button>
            </div>
            </div>
        </div>
    </div>
</body>
</html>