<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-widht, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/dee27fc75f.js" crossorigin="anonymous"></script>
</head>
<body>
    <ul class="categoriaGeneral">
        <li><a href="">Productos</a> <i class="fas fa-angle-down">
            <ul class="categoria-padre">
                <li><a href="">Sub-categoria</a> 
                    <i class="fas fa-angle-down">
                    <ul class="categoria-hija">
                        <li><a href="">Sub-categoria</a></li>
                        <li><a href="">Sub-categoria</a></li>
                        <li><a href="">Sub-categoria</a></li>
                    </li>
                    </ul>
                </i>
            </ul>
        </i>
        </li>
    </ul>


        
    <div class="grilla">
        <div class="contenedorProductos">

            <div class="producto">
                <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
                <p>Nombre producto</p>
                <p>Precio</p>
                <button>Agregar al carrito</button>
                <button>Ver detalle</button>
            </div>

            <div class="producto">
                <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
                <p>Nombre producto</p>
                <p>Precio</p>
                <button>Agregar al carrito</button>
                <button>Ver detalle</button>
            </div>

            <div class="producto">
                <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
                <p>Nombre producto</p>
                <p>Precio</p>
                <button>Agregar al carrito</button>
                <button>Ver detalle</button>
            </div>
        </div>

        <div class="contenedorProductos">
            
            <div class="producto">
                <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
                <p>Nombre producto</p>
                <p>Precio</p>
                <button>Agregar al carrito</button>
                <button>Ver detalle</button>
            </div>

            <div class="producto">
                <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
                <p>Nombre producto</p>
                <p>Precio</p>
                <button>Agregar al carrito</button>
                <button>Ver detalle</button>
            </div>

            <div class="producto">
                <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
                <p>Nombre producto</p>
                <p>Precio</p>
                <button>Agregar al carrito</button>
                <button>Ver detalle</button>
            </div>
        </div>

        <div class="contenedorProductos">
            
            <div class="producto">
                <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
                <p>Nombre producto</p>
                <p>Precio</p>
                <button>Agregar al carrito</button>
                <button>Ver detalle</button>
            </div>

            <div class="producto">
                <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
                <p>Nombre producto</p>
                <p>Precio</p>
                <button>Agregar al carrito</button>
                <button>Ver detalle</button>
            </div>

            <div class="producto">
                <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
                <p>Nombre producto</p>
                <p>Precio</p>
                <button>Agregar al carrito</button>
                <button>Ver detalle</button>
            </div>
            </div>
        </div>
    </div>
</body>
</html>