<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-widht, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/dee27fc75f.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="contenedorListado">
         
        <h1>Productos</h1>
        
        <div class="contenedorCategorias">  
            
            <div class="categorias">
                <a href="">Categoria 1</a>
                <i class="fas fa-angle-down"></i>
                    <div class="desplegable">
                        <a href="">1</a>
                        <a href="">2</a>
                        <a href="">3</a>
                    </div>
                <a href="">Categoria 1</a>
                <i class="fas fa-angle-down"></i>
                    <div class="desplegable">
                        <a href="">1</a>
                        <a href="">2</a>
                        <a href="">3</a>
                    </div>
                <a href="">Categoria 1</a>
                <i class="fas fa-angle-down"></i>
                    <div class="desplegable">
                        <a href="">1</a>
                        <a href="">2</a>
                        <a href="">3</a>
                    </div>
            </div>
        </div> 


        <div class="grilla">
            <div class="contenedorProductos">

                <div class="producto">
                    <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
                    <p>Nombre producto</p>
                    <p>Precio</p>
                    <button>Agregar al carrito</button>
                    <button>Ver detalle</button>
                </div>

                <div class="producto">
                    <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
                    <p>Nombre producto</p>
                    <p>Precio</p>
                    <button>Agregar al carrito</button>
                    <button>Ver detalle</button>
                </div>

                <div class="producto">
                    <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
                    <p>Nombre producto</p>
                    <p>Precio</p>
                    <button>Agregar al carrito</button>
                    <button>Ver detalle</button>
                </div>
            </div>

            <div class="contenedorProductos">
                
                <div class="producto">
                    <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
                    <p>Nombre producto</p>
                    <p>Precio</p>
                    <button>Agregar al carrito</button>
                    <button>Ver detalle</button>
                </div>

                <div class="producto">
                    <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
                    <p>Nombre producto</p>
                    <p>Precio</p>
                    <button>Agregar al carrito</button>
                    <button>Ver detalle</button>
                </div>

                <div class="producto">
                    <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
                    <p>Nombre producto</p>
                    <p>Precio</p>
                    <button>Agregar al carrito</button>
                    <button>Ver detalle</button>
                </div>
            </div>

            <div class="contenedorProductos">
                
                <div class="producto">
                    <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
                    <p>Nombre producto</p>
                    <p>Precio</p>
                    <button>Agregar al carrito</button>
                    <button>Ver detalle</button>
                </div>

                <div class="producto">
                    <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
                    <p>Nombre producto</p>
                    <p>Precio</p>
                    <button>Agregar al carrito</button>
                    <button>Ver detalle</button>
                </div>

                <div class="producto">
                    <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
                    <p>Nombre producto</p>
                    <p>Precio</p>
                    <button>Agregar al carrito</button>
                    <button>Ver detalle</button>
                </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>