<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-widht, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/dee27fc75f.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="contenedorListado">

        <!-- <div class="contenedorImagen">
            <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="">
        </div> -->
    
        <div class="contenedorCategorias">
            <p>Despliegue las categorias</p><i class="fas fa-sort-down fa-2x"></i>
            <div class="categorias">
                <a href="#">Categoria</a>
            </div>
            <div class="sub-categorias">
                <a href="#">Sub-categoria</a>
                <a href="#">Sub-categoria</a>
                <a href="#">Sub-categoria</a>
            </div>
            <div class="categorias">
                <a href="#">Categoria</a>
            </div>
            <div class="sub-categorias">
                <a href="#">Sub-categoria</a>
                <a href="#">Sub-categoria</a>
                <a href="#">Sub-categoria</a>
            </div>
            <div class="categorias">
                    <a href="#">Categoria</a>
            </div>
            <div class="sub-categorias">
                <a href="#">Sub-categoria</a>
                <a href="#">Sub-categoria</a>
                <a href="#">Sub-categoria</a>
            </div>
        </div>

        <div class="contenedorListadoProductos">
            <div class="listadoProductos">
                
                <div class="productoListado">
                    <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
                    <p>Nombre producto</p>
                    <p>Precio</p>
                    <button>Agregar al carrito</button>
                    <button>Ver detalle</button>
                </div>
                
                <div class="productoListado">
                    <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
                    <p>Nombre producto</p>
                    <p>Precio</p>
                    <button>Agregar al carrito</button>
                    <button>Ver detalle</button>
                </div>
                
                <div class="productoListado">
                    <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
                    <p>Nombre producto</p>
                    <p>Precio</p>
                    <button>Agregar al carrito</button>
                    <button>Ver detalle</button>
                </div>

                <div class="productoListado">
                    <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
                    <p>Nombre producto</p>
                    <p>Precio</p>
                    <button>Agregar al carrito</button>
                    <button>Ver detalle</button>
                </div>
            </div>    

                
            <div class="listadoProductos">
                
                <div class="productoListado">
                    <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
                    <p>Nombre producto</p>
                    <p>Precio</p>
                    <button>Agregar al carrito</button>
                    <button>Ver detalle</button>
                </div>
                
                <div class="productoListado">
                    <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
                    <p>Nombre producto</p>
                    <p>Precio</p>
                    <button>Agregar al carrito</button>
                    <button>Ver detalle</button>
                </div>
                
                <div class="productoListado">
                    <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
                    <p>Nombre producto</p>
                    <p>Precio</p>
                    <button>Agregar al carrito</button>
                    <button>Ver detalle</button>
                </div>

                <div class="productoListado">
                    <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
                    <p>Nombre producto</p>
                    <p>Precio</p>
                    <button>Agregar al carrito</button>
                    <button>Ver detalle</button>
                </div>
            </div> 
                
            <div class="listadoProductos">
                
                <div class="productoListado">
                    <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
                    <p>Nombre producto</p>
                    <p>Precio</p>
                    <button>Agregar al carrito</button>
                    <button>Ver detalle</button>
                </div>
                
                <div class="productoListado">
                    <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
                    <p>Nombre producto</p>
                    <p>Precio</p>
                    <button>Agregar al carrito</button>
                    <button>Ver detalle</button>
                </div>
                
                <div class="productoListado">
                    <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
                    <p>Nombre producto</p>
                    <p>Precio</p>
                    <button>Agregar al carrito</button>
                    <button>Ver detalle</button>
                </div>

                <div class="productoListado">
                    <img src="https://curadas.com/es/wp-content/uploads/2020/07/600x600.png" alt="imagen">
                    <p>Nombre producto</p>
                    <p>Precio</p>
                    <button>Agregar al carrito</button>
                    <button>Ver detalle</button>
                </div>
            </div> 
        </div>
    </div>
</body>
</html>