<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-widht, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/dee27fc75f.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="topnav">
  
  
  <a class="active" href="#Sesion">Login</a>
  <div class="separador"></div>

  
  <div class="login-container">
    <form action="/">
      <input type="text" placeholder="Usuario" name="username">
      <input type="text" placeholder="Contraseña" name="psw">
      <button type="submit">Ingresar</button>
    </form>
  </div>
</div>
<div class="container signin">
    <a href=""><p>Olvide mi Contraseña</p></a>
  <a href=""><p>Aun no tengo Usuario</p></a>
<a href=""><p>Registrarme</p></a> 
  </div> 
  </body>
</html>