<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title>Register</title>
</head>
<body>
    
    <div id="contenedorRegister">
        <h1>Registro de nuevo Cliente</h1>
        
        <form>
           
            <p>Apellido</p>
           
            <input type="text" name="apellido" id="apellido">

            <p>Nombre</p>
           
            <input type="text" name="nombre" id="nombre">

            <p>Email</p>
           
            <input type="email" name="email" id="emailRegister">
           
            <p>Contraseña</p>
           
            <input type="password" name="pwd" id="pwdRegister">

            <p>Repita Contraseña</p>
           
            <input type="repeatPassword" name="repeatPwd" id="repeatPwdRegister">
           
            <div>
                
                <label for="aceptoTerminos"><a href="#">Acepto los términos y condiciones </a>   </label>
                <input type="checkbox" name="aceptoTerminos" id="aceptoTerminos">

            </div>

            <button class="claseButton">Registrarme</button>

        </form>

        <a href="#">Ya tengo usuario y contraseña</a>
        
    </div>

</body>
</html>