<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-widht, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/dee27fc75f.js" crossorigin="anonymous"></script>
</head>
<body>
<form action="paginaderegistro.js">
  <div class="container">
    <h1>Registro Nuevo Cliente</h1>
   
    <hr>
<label for="Nombre y Apellido"><b>Nombre y Apellido</b></label>
    <input type="text" placeholder="Ingrese Nombre y Apellido Completo" name="Nombre" id="Apellido" required>
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Ingresar Email" name="email" id="email" required>

    <label for="psw"><b>Contrase単a</b></label>
    <input type="password" placeholder="Introduce tu Contrase単a" name="psw" id="psw" required>

    <label for="psw-repeat"><b>Confirma la Contrase単a</b></label>
    <input type="password" placeholder="Confirma la Contrase単a" name="psw-repeat" id="psw-repeat" required>
    <hr>
        <div class="texto">
<a  href="#">Acepto los terminos y las condiciones</a>
  <input type="checkbox" checked="checked">
  <span class="checkmark"></span>
</div>
    <button type="submit" class="registerbtn">Registrarse</button>
  </div>
  </form>
  <div class="container signin">
    <p>Ya tengo Usuario <a href="#">Logearme</a>.</p>
      
  </div>
</body>
</html>