    <footer>
       
        <!-- 3 grupos de texto del footer -->
        <div id="contenedorListasFooter">
            <ul class="listaFooter"> 
                <li>La Feria</li>
                <li>Mi cuenta</li>
                <li>Carrito</li>
                <li>Productos</li>
                <li>Productores</li>
            </ul>

            <ul class="listaFooter"> 
                <li>Contacto</li>
                <li>luciana.extension@upc.edu.ar</li>
                <li>Tel: 0351 45588777</li>
                <li>Whatsapp 3516021155</li>
                
            </ul>

            <ul class="listaFooter"> 
                <li>Puntos de entrega</li>
                <li>La direccion 2110</li>
                <li>Segunda Direccion 5544</li>
                <li>Tercera Direccion 5548</li>
                <li>Córdoba Argentina</li>
                
            </ul>

             <!-- iconos sociales -->
            <ul id="listaIconosSociales"> 
                <li id="iconoFacebook"><a href="https://www.facebook.com/upcferiassolidarias" target="_blank"><i class="fab fa-facebook-square fa-3x"></i></a></li>
                <li id="iconoInstagram"><a href="https://www.instagram.com/feriassolidariasupc" target="_blank"><i class="fab fa-instagram fa-3x"></i></a></li>
                <li id="iconoTwitter"><a href="https://www.twitter.com" target="_blank"><i class="fab fa-twitter fa-3x"></i></a></li>
            </ul>

        </div>
        
        

            <!-- Iconos Medios de Pago -->
            <ul id="listaMediosPago">
                <li class="iconoMedioPago"><p>Medios de Pago</p></li>
                <li class="iconoMedioPago"><img src="/images/logo-mercadopago.jpg"></li>
            </ul>

         
            <div id="copyright">
                <!-- Texto derechos -->
                <p >Todo los derechos reservados - Feria Solidaria 2020</p>
            
            </div>
 
    </footer>
    
</body>
</html>
