<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <script src="https://kit.fontawesome.com/dee27fc75f.js" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    
    <header>
        
        <div id="contenedorHeader">
        
            <div id="contenedorImagen"> 
                <img src="/images/logo-feria2.png" alt="Logo Feria Solidaria">
            </div>

            <div id="contenedorBusqueda">

                <input type="search" name="inputBusqueda" id="inputBusqueda" placeholder=" Buscar producto">
                <i id="iconoBusqueda" class="fas fa-search fa-2x"></i>

            </div>

            <div id="contenedorIconosHeader">
                
                <div class="iconoHeader" id="iconoAyuda">
                    <i class="far fa-comments"></i>
                    <p>Ayuda</p>
                </div>
                
                <div class="iconoHeader" id="iconoLogin">
                    <i class="far fa-user"></i>
                    <p>Login</p>
                </div>

                <div class="iconoHeader" id="iconoCarrito">
                    <i class="fas fa-shopping-cart"></i>
                    <p>Carrito</p>
                </div>

            </div>
            
        </div>
        
        <nav >

            <ul>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Productores</a></li>
                <li><a href="#">Quienes Somos</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>

        </nav>

    </header>
  