    <header>
        
        <div id="contenedorHeader">
        
            <div id="contenedorImagen"> 
               <a href="/"> <img src="/images/logo-feria2.png" alt="Logo Feria Solidaria"></a>
            </div>

            <div id="contenedorBusqueda">
                <div>
                <input type="search" name="inputBusqueda" id="inputBusqueda" placeholder=" Buscar producto">
                <i id="iconoBusqueda" class="fas fa-search"></i>
                </div>

                <div id="resultadoBusqueda">
                    
                </div>

            </div>

            <div id="contenedorIconosHeader">
                

                
                <div class="iconoHeader" id="iconoLogin">
                    <% if(typeof username != "undefined"){ %>
                    <a href="/usuarios/perfil">
                        <i class="far fa-user"></i>
                        <p><%= username %></p>
                    </a>
                    <%}else{%>
                        <a href="/usuarios/login">
                            <i class="far fa-user"></i>
                            <p>Login</p>
                        </a>
                    <%}%>    
                </div>

                <div class="iconoHeader" id="iconoCarrito">
                    <a href="/productos/carrito">                            
                        <i class="fas fa-shopping-cart"></i>
                        <p>Carrito</p>
                    </a>
                </div>

            </div>
            
        </div>
        
        <nav >

            <ul>
                <li><a href="/productos/listadoproductos">Productos</a></li>
                <li><a href="">Productores</a></li>
                <li><a href="#">Quienes Somos</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>

        </nav>

    </header>
  