<!DOCTYPE html>
<html>
    <%- include('../partials/head.ejs'); %>
<body>

    <%- include('../partials/header.ejs'); %>
    
<div class="contenedorCarrito">
      
   

    <h1>TU CARRITO</h1>
    
    <div class="separador"></div>

        <div class="productoCarrito">
            <img src="./images/imagen-producto5.jpg" alt="">
            <div class="contenidoCarrito">
                <p class="arribaIzquierda">FRASCO DE ACEITUNAS</p>
                <p class="abajoIzquierda">CANTIDAD:
                    <button class="claseButton">-</button>
                    <input type="number" name="1" id="1" value="1">
                    <button class="claseButton">+</button>
                </p>
                <p class="arribaDerecha">PRECIO UNITARIO: $ 210</p>
                <p class="abajoDerecha">TOTAL PRODUCTO $ 210</p>
            </div>
        </div>
    
        <div class="productoCarrito">
            <img src="./images/imagen-producto6.jpg" alt="">
            <div class="contenidoCarrito">
                <p class="arribaIzquierda">RAVIOLES DE RICOTA</p>
                <p class="abajoIzquierda">CANTIDAD:
                    <button class="claseButton">-</button>
                    <input type="number" name="1" id="1" value="1">
                    <button class="claseButton">+</button>
                </p>
                <p class="arribaDerecha">PRECIO UNITARIO: $XXX</p>
                <p class="abajoDerecha">TOTAL PRODUCTO $XXX</p>
            </div>
        </div>

            <div class="productoCarrito">
                <img src="./images/imagen-producto7.jpg" alt="">
                <div class="contenidoCarrito">
                    <p class="arribaIzquierda">NOMBRE DEL PRODUCTO</p>
                    <p class="abajoIzquierda">CANTIDAD:
                        <button class="claseButton">-</button>
                        <input type="number" name="1" id="1" value="1">
                        <button class="claseButton">+</button>
                    </p>
                    <p class="arribaDerecha">PRECIO UNITARIO: $XXX</p>
                    <p class="abajoDerecha">TOTAL PRODUCTO $XXX</p>
                </div>

        <div class="costoParcial"> 
            <h2>ENVIO: $XXX</h2>
            <h2>SUB-TOTAL: $XXX</h2>
        </div>

        <div class="costoTotal">
            <h2>TOTAL: $XXX</h2>
        </div>


            
        <div class="contenedorBotones">
            <button class="claseButton">CONTINUAR COMPRANDO</button>
            <button class="claseButton">FINALIZAR COMPRA</button>
        </div>

     

       
</div>

<%- include('../partials/footer.ejs'); %>

</body>
</html>