
<%- include('../partials/head.ejs'); %>

<%- include('../partials/header.ejs'); %>
    
<main class="contenedor">

<section class="contenedorCarrito">
    <article class="productoCarrito">
        <div class="imagenCarrito">
            <img src="../images/imagen-producto1.jpg" alt="">
        </div>
        <div class="informacionProducto">
            <p>NOMBRE DEL PRODUCTO</p>
            <p>CANTIDAD:</p>
            <div>
                <button class="claseButton">-</button>
                <p>1</p>
                <button class="claseButton">+</button>
            </div>
            <p>PRECIO: $300</p>
            <p>TOTAL: $300</p>
            </div>  
    </article>

    <article class="productoCarrito">
        <div class="imagenCarrito">
            <img src="./images/imagen-producto1.jpg" alt="">
        </div>
        <div class="informacionProducto">
            <p>NOMBRE DEL PRODUCTO</p>
            <p>CANTIDAD:</p>
            <div>
                <button class="claseButton">-</button>
                <p>1</p>
                <button class="claseButton">+</button>
            </div>
            <p>PRECIO: $300</p>
            <p>TOTAL: $300</p>
        </div>
    </article>

    <article class="productoCarrito">
        <div class="imagenCarrito">
            <img src="./images/imagen-producto1.jpg" alt="">
        </div>
        <div class="informacionProducto">
            <p>NOMBRE DEL PRODUCTO</p>
            <p>CANTIDAD:</p>
            <div>
                <button class="claseButton">-</button>
                <p>1</p>
                <button class="claseButton">+</button>
            </div>
            <p>PRECIO: $300</p>
            <p>TOTAL: $300</p>
        </div>
    </article>
</section>

    <div class="pagoParcial">
        <h2>SUB-TOTAL</h2>
        <h2>ENVIO: 1500</h2>
    </div>
    <div class="pagoTotal">
        <h2>TOTAL:5000</h2>
    </div>

    <div class="carritoBotones">
        <button class="claseButton">CONTINUAR COMPRANDO</button>
        <button class="claseButton">FINALIZAR COMPRA</button>
    </div>

</main>

<%- include('../partials/footer.ejs'); %>
