<%- include('../partials/head.ejs'); %>

<%- include('../partials/header.ejs'); %>

   
    <div id="contenedorProductCreateEdit">
        <h1>Nuevo Producto</h1>
        
        <form action="/products/productoNuevo" method="POST" enctype="multipart/form-data">
                  
            <input type="text" name="nombre" id="nombre" placeholder="Nombre Producto">
               
            <input type="number" name ="precioProducto" id="precio" placeholder="Precio">
                
            <select name="categoria" id="categoria"> 
               
                <option value="default">Categoria</option>
                <option value="Dulces Caseros">Dulces Caseros</option>
                <option value="Merienda">Merienda</option>
                <option value="Artesanias">Artesanias</option>
                   
            </select>
          
            <textarea rows="2" name="descripcionCorta" id="descripcionCorta" placeholder="Descripción Corta"></textarea>
            <textarea rows="14" name="descripcionLarga" id="descripcionLarga" placeholder="Descripción Larga"></textarea>
            
            <input type="file" name="imagenProducto" id="imagenProducto" placeholder="Subir Imágenes">
            
            <!-- <div id="imagenesCargadas">
                <img src="/images/imagen-producto1.jpg">
                <img src="/images/imagen-miniatura2-producto1.jpg">
                <img src="/images/imagen-miniatura3-producto1.jpg">
            </div> -->
            
            <button class="claseButton" type="submit">Crear Producto</button>

        </form>

        
        
    </div>

    <%- include('../partials/footer.ejs'); %>