<%- include('../partials/head.ejs'); %>

<%- include('../partials/header.ejs'); %>


    <div id="contenedorLogin">
        <h1>Login</h1>
        
        <form>
           
            <p>Email</p>
           
            <input type="email" name="email" id="emailLogin">
           
            <p>Contraseña</p>
           
            <input type="password" name="pwd" id="pwdLogin">
           
            <button class="claseButton">Ingresar</button>

        </form>

        <a href="#">Olvidé mi contraseña</a>
        <a href="#">Registro nuevo usuario</a>
    </div>

<%- include('../partials/footer.ejs'); %>    